<form class="container-vertical align-center full-width">

  <button class="user-button puffer user-button-radius information-are-shadow button-background-white button-border-dark"
          (click)="provideBadgeToParent('shop');
                                              provideTypeToParent('fuel');
                                              createShop()"
          [ngClass]="buttonClasses['fuel']"
          matTooltip="Fuel/Charging">
    <img src="../../../../../assets/images/activity/fuel.png" class="button-image" alt="">
  </button>

  <button class="user-button puffer user-button-radius information-are-shadow button-background-white button-border-dark"
          (click)="provideBadgeToParent('shop');
                                              provideTypeToParent('grocery');
                                              createShop()"
          [ngClass]="buttonClasses['grocery']"
          matTooltip="Grocery">
    <img src="../../../../../assets/images/activity/grocery.png" class="button-image" alt="">
  </button>

  <button class="user-button puffer user-button-radius information-are-shadow button-background-white button-border-dark"
          (click)="provideBadgeToParent('shop');
                                              provideTypeToParent('souvenir');
                                              createShop()"
          [ngClass]="buttonClasses['souvenir']"
          matTooltip="Souvenir">
    <img src="../../../../../assets/images/activity/souvenir.png" class="button-image" alt="">
  </button>

  <button class="user-button puffer user-button-radius information-are-shadow button-background-white button-border-dark"
          (click)="provideBadgeToParent('shop');
                                              provideTypeToParent('clothes');
                                              createShop()"
          [ngClass]="buttonClasses['clothes']"
          matTooltip="Clothes">
    <img src="../../../../../assets/images/activity/clothes.png" class="button-image" alt="">
  </button>

  <button class="user-button puffer user-button-radius information-are-shadow button-background-white button-border-dark"
          (click)="provideBadgeToParent('shop');
                                              provideTypeToParent('shop');
                                              createShop()"
          [ngClass]="buttonClasses['shop']"
          matTooltip="Other">
    <img src="../../../../../assets/images/activity/shop.png" class="button-image" alt="">
  </button>

</form>
