html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

table {
  width: 100%;
  background-color: whitesmoke;
  opacity: 0.9;
}

.center-align {
  text-align: start !important;
}

.image {
  margin-right: auto;
  border-radius: 50%;
  width: 35px;
  height: auto;
}

.edit-button {
  background: transparent !important;
  color: #2E3944 !important;
  font-size: 18px !important;
  width: auto;
  height: auto;
  border: none;
  opacity: 0.7;
}

.delete-button {
  background: transparent !important;
  color: #D46A6A !important;
  font-size: 18px !important;
  width: auto;
  height: auto;
  border: none;
  opacity: 0.9;
}

.edit-button:hover,
.delete-button:hover {
  opacity: 0.4;
}

.pagination-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
}

.margin-top {
  margin-top: 12px;
}

.mdc-data-table__table {
  background-color: whitesmoke !important;
}

.mat-mdc-header-row {
  background-color: #2E3944 !important;
  color: whitesmoke !important;
}

:host ::ng-deep .mat-sort-header-arrow{
  color: whitesmoke !important;
}

:host ::ng-deep .mat-sort-header-container {
  display: flex;
  justify-content: start;
  width: auto;
}
