.activity-edit-toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between !important;
  align-items: center;
}

.mat-mdc-icon-button ::ng-deep .mat-mdc-button-persistent-ripple {
  display: none;
}
