<form class="buttons-container">
    <button class="user-button margin" (click)="openBackpack($event)" matTooltip="Backpack">
      <img src="../../../../../assets/images/backpack.png" class="user-button-image" alt="">
    </button>
    <button class="user-button margin" (click)="openBudget($event)" matTooltip="Budget">
      <img src="../../../../../assets/images/budget.png" class="user-button-image" alt="">
    </button>
  <button class="user-button margin" (click)="openNote($event)" matTooltip="Note">
    <img src="../../../../../assets/images/notes.png" class="user-button-image" alt="">
  </button>
  <button class="delete-button margin" (click)="deleteTrip($event)" matTooltip="Delete Trip">
    <img src="../../../../../assets/images/delete.png" class="delete-button-image" alt="">
  </button>
</form>

