.delete-button {
  width: 37px !important;
  height: 37px !important;
  padding: 4px !important;
}

.delete-button-border {
  border: 2px solid darkred !important;
  border-radius: 5px !important;
}

.add-day-buttons {
  border: 2px solid darkseagreen;
  background-color: forestgreen;
}

.delete-day-buttons {
  border: 2px solid indianred;
  background-color: darkred;
}

.toolbar-day-button {
  width: 30px;
  height: 30px;
  padding: 4px;
  border-radius: 5px;
}

.toolbar-day-manager-icon {
    width: 17px;
    height: 17px;
    background-color: transparent;
}

