<form class="buttons-container">

  <button class="user-button margin" (click)="openBackpack($event)" matTooltip="Backpack">
    <img src="../../../../../assets/images/backpack.png" class="user-button-image" alt="">
  </button>
  <button class="user-button margin" (click)="openBudget($event)" matTooltip="Budget">
    <img src="../../../../../assets/images/budget.png" class="user-button-image" alt="">
  </button>

  <button class="user-button margin" (click)="editTrip($event)" matTooltip="Edit Trip">
    <img src="../../../../../assets/images/edit.png" class="user-button-image" alt="">
  </button>

  <button class="user-button margin" (click)="printReport($event)" matTooltip="Edit Trip">
    <img src="../../../../../assets/images/printer.png" class="user-button-image" alt="">
  </button>

  <button class="delete-button margin" (click)="deleteTrip($event)" matTooltip="Delete Trip">
    <img src="../../../../../assets/images/delete.png" class="delete-button-image" style="opacity:0.7"  alt="">
  </button>

  <div class="add-delete-container">
    <div class="add-delete-line">

      <button class="add-delete-button add-day-buttons" (click)="addDay(true, $event)" matTooltip="Add FIRST Day">
        <mat-icon class="add-delete-buttons add-color">keyboard_double_arrow_left</mat-icon>
      </button>

      <a class="add-delete-description">
        <img src="../../../../../assets/images/add.png" class="add-delete-description-icon"  alt="">
      </a>

      <button class="add-delete-button add-day-buttons" (click)="addDay(false, $event)" matTooltip="Add LAST Day">
        <mat-icon class="add-delete-buttons add-color">keyboard_double_arrow_right</mat-icon>
      </button>
    </div>

    <div class="add-delete-line">
      <button class="add-delete-button delete-day-buttons" (click)="deleteDay(true, $event)" matTooltip="Delete FIRST Day">
        <mat-icon class="add-delete-buttons delete-color">keyboard_double_arrow_left</mat-icon>
      </button>

      <a class="add-delete-description">
        <img src="../../../../../assets/images/delete.png" class="add-delete-description-icon" style="opacity:0.7" alt="">
      </a>

      <button class="add-delete-button delete-day-buttons " (click)="deleteDay(false, $event)" matTooltip="Delete LAST Day">
        <mat-icon class="add-delete-buttons delete-color">keyboard_double_arrow_right</mat-icon>
      </button>
    </div>
  </div>
</form>

