.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly !important;
  width: 100% !important;
  align-items: center;
}

.margin {
  margin: 20px;
}

.delete-button {
  width: 20px;
  height: 20px;
  padding: 0;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
}

.delete-button-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15%;
  background-color: black;
  border: 2px solid #B85C5C;
  padding:5px;
  cursor: pointer;
}

.delete-button:hover,
.delete-button-image:hover {
  opacity: 0.5 !important;
}

.add-delete-button {
  width: 40px;
  height: 20px;
  display: flex;
  justify-content: center !important;
  cursor: pointer;
  background-color: transparent;
  border-radius: 5px;
}

.add-delete-description {
  width: 60px;
  height: 20px;
  display: flex;
  background-color: transparent;
  color: whitesmoke;
  font-size: 30px;
  font-weight: 300;
  justify-content: center !important;
  align-items: center !important;
}

.add-day-buttons {
  border: 2px solid limegreen;
  border-radius: 5px;
  align-items: center !important;
}

.delete-day-buttons {
  border: 2px solid indianred;
  border-radius: 5px;
  align-items: center !important;
}

.add-delete-buttons {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.add-color {
  color: limegreen;
}

.delete-color {
  color: indianred;
}

.add-delete-button:hover {
  opacity: 0.5;
}

.add-delete-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px 10px 10px 50px !important;
  border-radius: 20px;
  background-color: transparent;
}

.add-delete-line {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 20px;
  margin: 10px;
  background-color: transparent;
}

.add-delete-description-icon {
    width: 15px;
    height: 15px;
    background-color: transparent;
    padding:5px;
}

