.main-form {
  width: 100%;
  min-height: 400vh;
  height: 100%;
  padding-bottom: 100px !important;
}

.day-details-text-size-large {
  font-weight: 300 !important;
  font-size: 24px !important;
}

.day-details-margin {
  margin: 0 5px 0 5px;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
}

