.name-button-area {
  text-align: center;
}

.mat-mdc-icon-button ::ng-deep .mat-mdc-button-persistent-ripple {
  display: none;
}

mat-form-field {
  max-width: 100% !important;
}

.insert-size {
  width: 40% !important;
}

.mat-form-field {
  margin-right: 12px;
}

.margin-form {
  margin: 3%;
}

.main-font-size {
  font-size: 16px;
}

.font-margin {
  margin: 10%;
}

::ng-deep .mat-calendar
{
  background-color: whitesmoke;
}

::ng-deep .mat-calendar-body-selected
{
  background-color: #A1C3D1 !important;
  color: #2E3944 !important;
}
