.item {
  display: flex;
  justify-content: start;
  background-color: #F0F2F2;
  padding: 10px;
}

.button {
  display: grid;
  justify-content: center;
  width: 300px;
  height: 350px;
  background-color: #ECECEC;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  border: 1px solid #6D7373;
  border-radius: 3%;
}

.button:hover {
  border: 3px solid #2E3944;
  opacity: 0.5;
}

.image {
  margin:3px;
  opacity: 0.8;
}

.trip-name {
  word-wrap: break-word;
  overflow-wrap: break-word;
  width: 240px;
  font-size: 20px;
  font-weight: 500;
  padding: 5px;
  background-color: #2E3944;
  color: whitesmoke;
}

.days {
  opacity: 0.8;
  margin:20px;
  font-size: 16px
}

.date {
  margin-bottom: 30px;
  font-size: 20px;
  padding: 10px;
  background-color: #2E3944;
  color: whitesmoke;
}

.days-text {
  margin-top:3%;
  font-weight: 600;
  font-size: 22px
}

.label-text {
  font-size: 14px;
  font-weight: 300;
}

.margin-form {
  margin: 3%;
}

.main-font-size {
  font-size: 16px;
}

