<div class="item ">
  <button class="button mat-elevation-z8" (click)="selectTrip()">

    <div class="display-flag">
      <img *ngFor="let country of addressDetail.countries"
           src="https://flagsapi.com/{{country.iso2}}/shiny/32.png"  alt="">
    </div>

    <div class="trip-name trip-font">
      <div>{{trip.tripName}}</div>
    </div>
    <div class="days trip-font">
      <div class="days-text main-font">{{trip.amountOfDays}} {{dayOrDays}} </div>
    </div>

    <div class="date main-font ">
      <div class="label-text trip-font"> from </div>
      <div class="main-font margin-form main-font-size">{{trip.startDate}}</div>
      <div class="label-text trip-font"> to </div>
      <div class="main-font margin-form main-font-size">{{trip.endDate}}</div>
    </div>
  </button>
</div>


