<div class="second-container">
  <button class="cursor margin-main puffer-small cart cart-border container-vertical align-center"
          (click)="selectTrip()">

    <div class="align-center">
      <div class="trip-font font-color-gray">
        - {{trip.amountOfDays}} {{dayOrDays}} -
      </div>
    </div>

    <div class="flag-container">
      <img *ngFor="let country of addressDetail.countries" class="padding-small"
           src="https://flagsapi.com/{{country.iso2}}/shiny/32.png"  alt="">
    </div>

    <div>
      <div class="font-size-text trip-font font-color-gold">
        {{trip.tripName}}
      </div>
    </div>

    <div class="container-vertical align-center font-color-white">
      <div class="font-size-label font-color-gray"> from </div>
      <div class="font-size-text ">{{trip.startDate}}</div>
      <div class="font-size-label font-color-gray"> to </div>
      <div class="font-size-text">{{trip.endDate}}</div>
    </div>
  </button>
</div>


