<mat-toolbar-row class="dialog-header">
  <div class="dialog-title">Expanse</div>
  <button mat-icon-button class="close-button"
          (click)="onClose()"
          (keydown.enter)="$event.preventDefault()">
    <mat-icon class="close-icon">close</mat-icon>
  </button>
</mat-toolbar-row>

<div class="dialog-container">
  <div class="full-width">
    <div class="main-expanse-container">
      <div class="expanse-container mat-elevation-z8">
        <mat-form-field appearance="outline" class="insert-description-size">
          <mat-label>Description </mat-label>
          <input  type="text"
                  matInput
                  [(ngModel)]=expanseRequest.expanseName
                  [ngModelOptions]="{standalone: true}"
                  placeholder="Description"
                  autocomplete="name"
                  (keydown.enter)="$event.preventDefault()">
        </mat-form-field>

        <mat-form-field appearance="outline" class="insert-size">
          <mat-select [(ngModel)]="expanseRequest.currency"
                      name="currency"
                      (ngModelChange)="getExchangeRate()">
            <mat-select-trigger>
              {{ expanseRequest.currency }}
            </mat-select-trigger>
            <mat-option *ngFor="let currency of currencyList" [value]="currency.currency">
              {{ currency.currency?.toString() }}
              <p style="font-size:10px">{{ currency.country?.toUpperCase() }}</p>
            </mat-option>
          </mat-select>
        </mat-form-field>

      </div>
      <div class="expanse-container center-align mat-elevation-z8">
        <form class="full-width">
          <mat-form-field appearance="outline" class="insert-size">
            <mat-label>Price</mat-label>
            <div class="input-with-currency">
              <input
                matInput placeholder="0.00"
                [(ngModel)]="expanseRequest.price"
                (ngModelChange)="calculateLeftToPay()"
                (blur)="calculateTripValue()"
                type="number"
                name="price"
                min="0"
                step="0.01">
              <label class="currency">{{expanseRequest.currency}}</label>
            </div>
            <span matPrefix>$ </span>
          </mat-form-field>
        </form>


        <form class="full-width">
          <mat-form-field appearance="outline" class="insert-size-paid">
            <mat-label>Paid</mat-label>
            <div class="input-with-currency">
              <input
                matInput placeholder="0.00"
                [(ngModel)]="expanseRequest.paid"
                (ngModelChange)="calculateLeftToPay()"
                (blur)="calculateTripValue()"
                type="number" name="paid"
                min="0"
                step="0.01">
              <label class="currency">{{expanseRequest.currency}}</label>
            </div>
            <span matPrefix>$ </span>
            <button
              class="button-input"
              mat-icon-button
              matSuffix
              (click)="setAsPaid()"
              (keydown.enter)="$event.preventDefault()"
              matTooltip="Paid">
              <mat-icon>check_circle</mat-icon>
            </button>
          </mat-form-field>
        </form>

        <form class="full-width" style="margin-bottom: 10%">
          <label style="font-size: 14px">To pay: </label>
          <label [ngClass]="getColorAmount(leftToPay)" style="font-size: 18px; font-weight: 500;">{{leftToPay}}</label>
          <label class="currency"> {{expanseRequest.currency}}</label>
        </form>

        <form class="full-width">
          <mat-form-field appearance="outline" class="insert-size">
            <mat-label>Exchange Rate</mat-label>
            <input
              matInput placeholder="0.00"
              [(ngModel)]="expanseRequest.exchangeRate"
              type="number"
              name="exchangeRate"
              min="0"
              step="0.01">
            <button
              class="button-input"
              mat-icon-button
              matSuffix
              (click)="getExchangeRate()"
              (keydown.enter)="$event.preventDefault()"
              matTooltip="Get exchnage">
              <mat-icon>attach_money</mat-icon>
            </button>
            <span matPrefix></span>
          </mat-form-field>
        </form>
      </div>

      <div class="expanse-container center-align mat-elevation-z8">
        <div class="padding-label mat-elevation-z8">{{ expanseRequest.currency }}</div>
        <div class="value-container">
          <label class="title-label">PRICE:</label>
          <label class="value-label">{{expanseRequest.priceInTripCurrency}}</label>
          <label class="currency-label">{{ tripCurrency}} </label>
        </div>

        <div class="value-container">
          <label class="title-label">PAID:</label>
          <label class="value-label" > {{expanseRequest.paidInTripCurrency}}</label>
          <label class="currency-label"> {{ tripCurrency}} </label>
        </div>

      </div>
    </div>

    <div class="full-width center-align">
      <button
        class="custom-button-0 full-width" (click)="saveExpanse()" type="submit">Save</button>
      <button class="custom-button-1 full-width" (click)="onClose()" type="submit">Close</button>
    </div>

    <div class="full-width error-msg" role="alert" *ngIf="errorMsg.length > 0">
      <mat-divider></mat-divider>
      <p *ngFor="let msg of errorMsg">{{msg}}</p>
    </div>
  </div>
</div>




