.mat-mdc-icon-button ::ng-deep .mat-mdc-button-persistent-ripple {
  display: none;
}

.currency-label{
  width: 100% !important;
}

.expanse-font-label{
  color: #2E3944 !important;
}

.expanse-currency-label {
  color:  #2E3944 !important;
}

.container-height-auto {
  height: auto !important;
  max-height: 40vh !important;
}

.balance-font-size {
  font-size: 18px !important;
}

.balance-padding {
  padding: 15px 0 10px 20px !important;
}

.currency-font-size-large {
  font-size: 24px !important;
}
