.second-container {
  display: flex !important;
  width: 100% !important;
}

.main-form{
  padding: 5%;
}

.name-button-area {
  text-align: center;
}

.mat-mdc-icon-button ::ng-deep .mat-mdc-button-persistent-ripple {
  display: none;
}

mat-form-field {
  max-width: 100% !important;
}

.currency-container {
  margin-top: 10px !important;
  text-align: center !important;
}

.insert-size {
  width: 40% !important;
  margin-right: 10px;
}

