<mat-toolbar-row class="dialog-header">
  <div class="dialog-title">New Trip</div>
  <button mat-icon-button class="close-button"
          (click)="onClose()"
          (keydown.enter)="$event.preventDefault()">
    <mat-icon class="close-icon">close</mat-icon>
  </button>
</mat-toolbar-row>

<mat-card class="second-container" appearance="outlined">
  <form class="main-form">
    <div>
      <div class = "full-width name-button-area" >
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Trip name: </mat-label>
          <input  type="text"
                  matInput
                  [(ngModel)]=tripCreatorRequest.tripName
                  [ngModelOptions]="{standalone: true}"
                  placeholder="Name your trip"
                  autocomplete="name"
                  (keydown.enter)="$event.preventDefault()">
        </mat-form-field>

        <form class="full-width currency-container">
          <mat-form-field appearance="outline" class="insert-size">
            <mat-label>Enter Amount</mat-label>
            <input matInput placeholder="0.00" [(ngModel)]="amount" type="number" name="amount" min="0" step="0.01">
            <span matPrefix>$&nbsp;</span>
          </mat-form-field>

          <mat-form-field appearance="outline" class="insert-size">
            <mat-select [(value)] = "tripCreatorRequest.currency" >
              <mat-option *ngFor="let currency of currency" [value]="currency.currency">
                {{ currency.currency?.toString()}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </form>
        <mat-card-actions>
          <mat-toolbar-row class="toolbar-row">
            <div >
              <button class="custom-button-0 full-width" (click)="createNewTrip()" type="submit">Create</button>
              <button class="custom-button-1 full-width" (click)="onClose()" type="submit">Cancel</button>
            </div>
          </mat-toolbar-row>
        </mat-card-actions>

        <div class="alert alert-danger full-width error-msg" role="alert" *ngIf="errorMsg.length > 0">
          <mat-divider></mat-divider>
          <p *ngFor="let msg of errorMsg">{{msg}}</p>
        </div>
      </div>
    </div>
  </form>
</mat-card>



