<div class="container">
  <mat-card class="second-container" appearance="outlined">
    <mat-card-header class="header-shadow">
      <h3>Reset Password</h3>
    </mat-card-header>
    <div class="label-padding">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email/User Name</mat-label>
        <input type="text"
               matInput
               [(ngModel)]="credential.credential"
               [ngModelOptions]="{standalone: true}"
               placeholder="Email/User Name"
               autocomplete="credential">
      </mat-form-field>
      <mat-divider class="padding-bottom"></mat-divider>
      <p class="info-text">
        This action will delete the current password and send a new password to the specified email address.
      </p>
      <p class="info-text">
        Are you sure you want to proceed with the password reset?
      </p>
      <mat-divider class="padding-bottom"></mat-divider>
    </div>

    <button class="custom-button-0" (click)=resetPassword() type="submit">Reset</button>
    <button class="custom-button-1 bottom-margin" (click)=onClose() type="submit">Login</button>

    <div class="alert alert-danger full-width error-msg" role="alert" *ngIf="errorMsg.length > 0">
      <mat-divider class="padding-bottom"></mat-divider>
      <p *ngFor="let msg of errorMsg">{{msg}}</p>
      <mat-divider class="padding-bottom"></mat-divider>
    </div>
  </mat-card>
</div>



