<div class="container background-color-dark">
  <div>
    <mat-card class="second-container background-color-light border border-radius container-shadow" appearance="outlined">
      <mat-card-header class="header">
        <h4>Reset Password</h4>
      </mat-card-header>

      <mat-card-content>
        <form class="padding-main-horizontal">
          <mat-form-field appearance="outline" class="insert-width">
            <mat-label>Email or User Name</mat-label>
            <input type="text"
                   matInput
                   [(ngModel)]="credential.credential"
                   [ngModelOptions]="{standalone: true}"
                   placeholder="Email or User name"
                   autocomplete="credential">
          </mat-form-field>
        </form>
        <p class="warning-color warning-font">
          This action will delete the existing password and generate a new one, which will be sent to the specified email address.
        </p>
        <p class="warning-color warning-font padding-main-vertical">
          Are you sure you want to proceed with resetting the password?
        </p>
      </mat-card-content>

      <div class="padding-main-vertical">
        <button class="button button-1 warning-color background-color-medium"
                (click)=resetPassword() type="submit">Reset</button>
        <div class="padding-main-vertical">
          <button class="button button-1 background-color-dark"
                  (click)=onClose() type="submit">Login</button>
        </div>
      </div>
      <div class="full-width error-msg border-top error-background" role="alert" *ngIf="errorMsg.length > 0">
        <p *ngFor="let msg of errorMsg" class="padding-main-horizontal">- {{msg}} -</p>
      </div>
    </mat-card>
  </div>
</div>


