.second-container {
  width: 600px !important;
}

.label-padding {
  padding-right: 50px;
  padding-left: 50px;
}

.info-text {
  color: red;
}

.bottom-margin {
  margin-bottom: 20px;
}

.error-background {
  background-color: whitesmoke;
  border-bottom-left-radius: 15px !important;
  border-bottom-right-radius: 15px !important;
}
