<div class="container">
  <mat-card class="second-container" appearance="outlined">
    <mat-toolbar-row class="dialog-header">
      <button mat-icon-button class="close-button"
              (click)="onClose()"
              (keydown.enter)="$event.preventDefault()">
        <mat-icon class="close-icon">close</mat-icon>
      </button>
    </mat-toolbar-row>

    <mat-card-header class="header-shadow">
      <h3>Account</h3>
    </mat-card-header>

    <div class="button-container">
      <input type="file" #fileInput accept="image/*" (change)="onFileSelected($event)" style="display: none;" />
      <button mat-icon-button class="profile-button" matTooltip="Account settings"
              (click)="triggerFileInput()" type="submit">
        <img *ngIf="avatarImg" [src]="avatarImg" class="profile-image" alt="User Avatar" fill priority>
        <img *ngIf="!avatarImg" src="../../../../../assets/images/user.png" class="profile-image" alt="Default Avatar" fill priority>
      </button>
    </div>

    <form class="main-form">
      <div *ngIf="!isEdit else edit_template_input">
        <div class="information-area">
          <div class="padding">
            <a class="label-text">Name: </a>
            <a class="custom-header">{{userCredentials.userName}}</a>
          </div>
          <div class="padding">
            <a class="label-text">Email: </a>
            <a class="custom-header">{{userCredentials.email}}</a>
          </div>
        </div>
      </div>

      <mat-card-actions>
        <mat-toolbar-row class="toolbar-row">
          <div *ngIf="!isEdit else edit_template_button">
            <button class="custom-button-0" (click)="edit()" type="submit">Edit</button>
          </div>
        </mat-toolbar-row>
      </mat-card-actions>

      <div class="alert alert-danger full-width error-msg" role="alert" *ngIf="errorMsg.length > 0">
        <mat-divider class="padding-bottom"></mat-divider>
        <p *ngFor="let msg of errorMsg">{{msg}}</p>
      </div>

      <div class="delete-button-area" *ngIf="isEdit">
        <mat-divider></mat-divider>
        <button class="custom-button-2" (click)="deleteAccount()" type="submit">DELETE ACCOUNT</button>
      </div>
    </form>
  </mat-card>
</div>

<ng-template #edit_template_button>
  <button class="custom-button-0 full-width" (click)="saveUserCredentials()" type="submit">Save</button>
  <button class="custom-button-1 full-width" (click)="managePassword()" type="submit">Password</button>
</ng-template>

<ng-template #edit_template_input>
  <div class = "full-width delete-button-area" >
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Name: </mat-label>
      <input  type="text"
              matInput
              [(ngModel)]=userCredentials.userName
              [ngModelOptions]="{standalone: true}"
              placeholder="Your name"
              autocomplete="name" [disabled]="!isEdit"
              (keydown.enter)="$event.preventDefault()">
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Email: </mat-label>
      <input type="email"
             matInput
             [(ngModel)]=userCredentials.email
             [ngModelOptions]="{standalone: true}"
             placeholder="Placeholder"
             autocomplete="email" [disabled]="!isEdit"
             (keydown.enter)="$event.preventDefault()">
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Password:</mat-label>
      <input type="password"
             matInput [type]="hide() ? 'password' : 'text'"
             [(ngModel)]="userCredentials.password"
             [ngModelOptions]="{standalone: true}"
             placeholder="Password"
             autocomplete="password"
             (keydown.enter)="$event.preventDefault()">
      <button
        mat-icon-button
        matSuffix
        (click)="clickEvent($event)"
        (keydown.enter)="$event.preventDefault()"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide()">
        <mat-icon>{{ hide() ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
    </mat-form-field>
  </div>
</ng-template>
