.image-container {
  text-align: center;
  margin-left: auto;
  margin-bottom: 20px;
}

.profile-image {
  width: 20%;
  height: 20%;
  object-fit: cover;
  border-radius: 50%;
}

.main-container {
  justify-content: space-evenly;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.info-area {
  background-color: #D6E6E9;
  border: 2px solid #2E3944;
  border-radius: 10px;
  padding-top:5px ;
  padding-bottom: 5px;
}

.margin {
  margin: 10px 20px;
}

.label-text {
  font-size: 16px;
  margin: 0px;
  padding: 0px;
}

.user-details {
  font-weight: bold;
  color: #2E3944 !important;
  font-size: 16px;
}

.fields-container {
  background-color: #E0E6E0;
  border: 2px solid #2E3944;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}

.edit-area {
  width: 500px !important;
}

.top-container {
  display: flex;
  justify-content: space-between;
}

.label-container {
  display: flex;
  align-items: center;
}

.font-bold {
  font-weight: bold;
}

.role-container {
  display: flex;
  align-items: center;
  justify-content: left;
  flex-grow: 1;
  text-align: start
}

.role-label {
  margin-bottom: 0px;
  margin-right: 8px;
}

.role-selector {
  flex-shrink: 0;
  width: 190px !important;
  min-width: 190px !important;
  margin-left: 10px;
}

.bottom-container{
  text-align: center;
}

.password-button-container {
  display: inline  ;
}

.admin{
  color: darkred !important;
}

.default{
  color: darkgreen !important;
}

.admin,
.default{
  font-size: 16px !important;
  font-weight: bold !important;
}










