<form class="buttons-container full-width" style="margin: 20px 0 0 0; display: inline-flex; justify-content: center">
  <button class="user-button margin" (click)="provideBadgeToParent('stay');
                                              provideTypeToParent('hotel');
                                              provideFirstStatusToParent('check-in');
                                              provideSecondStatusToParent('check-out');
                                              createStay()"
          [ngClass]="getButtonType('hotel')"
          matTooltip="Hotel">
    <img src="../../../../../assets/images/activity/hotel.png" class="user-button-image mat-elevation-z4" alt="">
  </button>
  <button class="user-button margin" (click)="provideBadgeToParent('stay');
                                              provideTypeToParent('camping');
                                              provideFirstStatusToParent('check-in');
                                              provideSecondStatusToParent('check-out');
                                              createStay()"
          [ngClass]="getButtonType('camping')"
          matTooltip="Camping">
    <img src="../../../../../assets/images/activity/camping.png" class="user-button-image mat-elevation-z4" alt="">
  </button>
  <button class="user-button margin" (click)="provideBadgeToParent('stay');
                                              provideTypeToParent('airbnb');
                                              provideFirstStatusToParent('check-in');
                                              provideSecondStatusToParent('check-out');
                                              createStay()"
          [ngClass]="getButtonType('airbnb')"
          matTooltip="Airbnb">
    <img src="../../../../../assets/images/activity/airbnb.png" class="user-button-image mat-elevation-z4" alt="">
  </button>

  <button class="user-button margin" (click)="provideBadgeToParent('stay');
                                              provideTypeToParent('friends');
                                              provideFirstStatusToParent('check-in');
                                              provideSecondStatusToParent('check-out');
                                              createStay()"
          [ngClass]="getButtonType('friends')"
          matTooltip="Family or Friends">
    <img src="../../../../../assets/images/activity/friends.png" class="user-button-image mat-elevation-z4" alt="">
  </button>
  <button class="user-button margin" (click)="provideBadgeToParent('stay');
                                              provideTypeToParent('stay');
                                              provideFirstStatusToParent('check-in');
                                              provideSecondStatusToParent('check-out');
                                              createStay()"
          [ngClass]="getButtonType('stay')"
          matTooltip="Other">
    <img src="../../../../../assets/images/activity/stay.png" class="user-button-image mat-elevation-z4" alt="">
  </button>
</form>

