<form class="second-container container-horizontal">

  <button class="user-button puffer button-border button-background user-button-radius"
          (click)="backToDays($event)" matTooltip="Back to Days">
    <img src="../../../../../assets/images/left-arrow.png" class="button-image" alt="">
  </button>

  <button class="user-button puffer button-border button-background user-button-radius"
          (click)="addActivity('eat', false, false, false, $event)" matTooltip="Eat">
    <img src="../../../../../assets/images/activity/eat.png" class="button-image eat button-background-radius" alt="">
  </button>

  <button class="user-button puffer button-border button-background user-button-radius"
          (click)="addActivity('event', false, false, false, $event)" matTooltip="Event">
    <img src="../../../../../assets/images/activity/event.png" class="button-image event button-background-radius" alt="">
  </button>

  <button class="user-button puffer button-border button-background user-button-radius"
          (click)="addActivity('rent', true, true, true, $event)" matTooltip="Rent">
    <img src="../../../../../assets/images/activity/rent.png" class="button-image rent button-background-radius" alt="">
  </button>

  <button class="user-button puffer button-border button-background user-button-radius"
          (click)="addActivity('shop', false, false, false, $event)" matTooltip="Shop">
    <img src="../../../../../assets/images/activity/shop.png" class="button-image shop button-background-radius" alt="">
  </button>

  <button class="user-button puffer button-border button-background user-button-radius"
          (click)="addActivity('stay', true, true, false, $event)" matTooltip="Stay">
    <img src="../../../../../assets/images/activity/stay.png" class="button-image stay button-background-radius" alt="">
  </button>

  <button class="user-button puffer button-border button-background user-button-radius"
          (click)="addActivity('travel', false, false, false, $event)" matTooltip="Travel">
    <img src="../../../../../assets/images/activity/travel.png" class="button-image travel button-background-radius" alt="">
  </button>

  <button class="user-button puffer button-border button-background user-button-radius"
          (click)="addActivity('trek', false, false, false, $event)" matTooltip="Trek">
    <img src="../../../../../assets/images/activity/trek.png" class="button-image trek button-background-radius" alt="">
  </button>

</form>


