<form class="buttons-container">

  <button class="user-button margin" (click)="backToDays($event)" matTooltip="Back to Days">
    <img src="../../../../../assets/images/left-arrow.png" class="user-button-image" alt="">
  </button>

  <button class="user-button margin" (click)="addActivity('eat', false, false, false, $event)" matTooltip="Eat">
    <img src="../../../../../assets/images/activity/eat.png" class="user-button-image eat" alt="">
  </button>

  <button class="user-button margin" (click)="addActivity('event', false, false, false, $event)" matTooltip="Event">
    <img src="../../../../../assets/images/activity/event.png" class="user-button-image event" alt="">
  </button>

  <button class="user-button margin" (click)="addActivity('rent', true, true, true, $event)" matTooltip="Rent">
    <img src="../../../../../assets/images/activity/rent.png" class="user-button-image rent" alt="">
  </button>

  <button class="user-button margin" (click)="addActivity('shop', false, false, false, $event)" matTooltip="Shop">
    <img src="../../../../../assets/images/activity/shop.png" class="user-button-image shop" alt="">
  </button>

  <button class="user-button margin" (click)="addActivity('stay', true, true, false, $event)" matTooltip="Stay">
    <img src="../../../../../assets/images/activity/stay.png" class="user-button-image stay" alt="">
  </button>

  <button class="user-button margin" (click)="addActivity('travel', false, false, false, $event)" matTooltip="Travel">
    <img src="../../../../../assets/images/activity/travel.png" class="user-button-image travel" alt="">
  </button>

  <button class="user-button margin" (click)="addActivity('trek', false, false, false, $event)" matTooltip="Trek">
    <img src="../../../../../assets/images/activity/trek.png" class="user-button-image trek" alt="">
  </button>

</form>


