@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');

.ngx-material-timepicker {
  z-index: 2001;
}

html, body { height: 100%; }
body { margin: 0; font-family: Montserrat, "Montserrat", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Montserrat, "Montserrat", sans-serif; }

body {
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

p, a, span, label, div, textarea, input {
  font-family: 'Montserrat', sans-serif;
}

.header,
.button,
.input,
.input-main {
  font-family: 'Montserrat', sans-serif;
}

label {
  margin: 0;
  padding: 0;
}

.background-color-white {
  background-color: whitesmoke !important;
}

.background-color-light {
  background-color: #EDEAE5 !important;
}

.background-color-medium {
  background-color: #7B9D9C !important;
}

.background-color-medium-light {
  background-color: #D1E0E2 !important;
}

.background-color-dark {
  background-color: #2E3944 !important;
}

.background-color-toolbar {
  background-color: #1C252D !important;
}

.background-color-warning {
  background-color: lightcoral !important;
}

.container {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  height: 100% !important;
}

.header {
  text-shadow: gray 1px 1px 1px;
}

.second-container,
.font-color {
  color: #1C252D !important;
}

.font-color-white {
  color: white !important;
}

.font-color-gray {
  color: gainsboro !important;
}

.font-color-label {
  color: steelblue !important;
}

.font-color-light {
  color: #A1C3D1 !important;
}

.input-main,
.font-size-text {
  font-size: 16px !important;
}

.font-size-small {
  font-size: 10px !important;
}

.font-size-label {
  font-size: 12px !important;
}

.font-size-label-plus {
  font-size: 14px !important;
}

.font-weight {
  font-weight: 550 !important;
}

.button,
.border {
  border: 1px solid #2E3944 !important;
}

.button,
.border-radius {
  border-radius: 8px !important;
}

.border-radius-small {
  border-radius: 3px !important;
}

.border-top {
  border-top: 1px solid #2E3944 !important;
}

.input-main {
  border-radius: 8px !important;
  width: 24vw !important;
}

.input-currency {
  max-height: 2.5vh !important;
}

.container-shadow {
  box-shadow: 0 0 30px 1px dimgray !important;
}

.information-are-shadow {
  box-shadow: 0 0 5px 1px gray !important;
}

.second-container {
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: transparent;

  .mdc-text-field--outlined {
    background-color: whitesmoke !important;
  }

  .mdc-text-field--outlined .mdc-notched-outline__leading,
  .mdc-text-field--outlined .mdc-notched-outline__notch,
  .mdc-text-field--outlined .mdc-notched-outline__trailing {
    border-color: #1C252D !important;
  }

  .mdc-form-field,
  .mdc-text-field--outlined,
  .mdc-notched-outline--upgraded,
  .mdc-floating-label--float-above {
    color: #1C252D !important;
  }
}

.container-horizontal {
  display: flex !important;
  flex-direction: row !important;
}

.container-vertical {
  display: flex;
  flex-direction: column;
}

.align-left {
  align-items: start !important;
  text-align: start !important;
  justify-content: start !important;
}

.align-center {
  align-items: center !important;
  text-align: center !important;
  justify-content: center !important;
}

.align-to-baseline {
 align-items: baseline;
}

.dialog-top-bar,
.full-width {
  width: 100% !important;
}

.padding-main {
  padding: 10px !important;
}

.padding-medium {
  padding: 15px !important;
}

.padding-big {
  padding: 25px !important;
}

.margin-main {
  margin: 10px !important;
}

.margin-big {
  margin: 25px !important;
}

.margin-small {
  margin: 5px !important;
}

.padding-small {
  padding: 3px;
}

.padding-main-horizontal {
  padding: 0 30px 0 30px !important;
}

.padding-small-horizontal {
  padding: 0 10px 0 10px !important;
}

.padding-main-vertical {
  padding: 15px 0 15px 0 !important;
}

.padding-small-vertical {
  padding: 10px 0 10px 0 !important;
}

.margin-main-horizontal {
  margin: 0 30px 0 30px !important;
}

.margin-small-horizontal {
  margin: 0 10px 0 10px !important;
}

.margin-main-vertical {
  margin: 15px 0 15px 0 !important;
}

.margin-small-vertical {
  margin: 10px 0 10px 0 !important;
}

.button{
  margin: 1% !important;
  max-width: 100%;
  position: relative;
  vertical-align: middle;
  letter-spacing: 0.3px;
  font-weight: 500;
}

.user-button,
.button,
.cursor {
  cursor: pointer;
}

.button:hover {
  background-color: #A1C3D1 !important;
  color: #1C252D !important;
}

.button-1 {
  margin: 1% !important;
  width: 150px;
  height: 50px;
  color: whitesmoke !important;
  font-size: 18px !important;
}

.button-2,
.button-3 {
  font-size: 12px !important;
  width: 150px;
  height: 30px;
}

.warning-color {
  color: darkred  !important;
}

.warning-font {
  font-weight: 550;
}

.pagination-button {
  background: transparent !important;
  border: none;
  color: #1C252D !important;
  font-size: 24px !important;
  font-weight: bold;
  width: 50px;
  font-family: Purple Purse, sans-serif;
}

.error-background {
  background-color: whitesmoke !important;
  border-bottom-left-radius: 15px !important;
  border-bottom-right-radius: 15px !important;
}

.error-msg {
  padding-top: 10px;
  text-align: center;
}

.error-msg {
  font-size: 16px !important;
  color: #C80000  !important;
  font-weight: 450 !important;
}

.user-button {
  width: 50px !important;
  height: 50px !important;
  margin: 10px !important;
  padding: 2px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  border: none;
}

.puffer:hover {
  transform: scale(1.2);
}

.puffer-small:hover {
  transform: scale(1.04);
}

.puffer-big:hover {
  transform: scale(1.4);
}

.button-image {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
}

.user-button-radius {
  border-radius: 15% !important;
}

.logo-button {
  display: flex;
  width: 120px !important;
  height: 120px !important;
}

.avatar-button {
  display: flex;
  width: 70px !important;
  height: 70px !important;
}

.small-button {
  width: 27px !important;
  height: 27px !important;
  padding: 2px !important;
  border: none !important;
  background-color: transparent !important;
}

.calendar-button {
  width: 40px !important;
  height: 40px !important;
  padding: 2px !important;
  background-color: transparent !important;
  border: none;
}

.avatar-button-radius {
  border-radius: 50% !important;
}

.button-background {
  background-color: #C0D0D8;
}

.button-background-white {
  background-color: white !important;
}

.button-border {
  border: 2px whitesmoke solid !important;
}

.button-border-dark {
  border: 2px solid #2E3944 !important;
}

.wrap-text {
  word-wrap: break-word !important;
  overflow-wrap: break-word !important;
  white-space: normal !important;
  max-width: 100% !important;
  overflow: hidden;
  text-overflow: ellipsis !important;
}

.toolbar-spacing {
  justify-content: space-between !important;
}

.toolbar-close-button:hover {
  color: red !important;
  font-weight: bold !important;
}

.insert-width {
  width: 25vw !important;
}

.paginator-container {
  justify-content: center;
  align-items: center;
}

.disabled {
  opacity: 0.5 !important;
  pointer-events: none !important;
  cursor: not-allowed !important;
}

.main-form {
  width: 100% !important;
  min-height: 100vh !important;
  height: 100% !important;
  padding-top: 10px !important;
}

.cart-container {
  display: flex !important;
  height: 100% !important;
  justify-content: safe center !important;
  flex-flow: row wrap !important;
  gap: 1% !important;
}

.trip-font {
  font-family: 'Kalam', sans-serif !important;
}

.logo {
  display: flex !important;
  align-items: center !important;
  margin-left: 40px !important;
}

.menu-buttons {
  display: flex;
  justify-content: start;
  margin-left: 60px;
  width: 100% !important;
}

.user {
  display: flex;
  align-items: center;
  margin-right: 40px;
}

.mdc-notched-outline__notch {
  border-left: none !important;
}

.stay{
  background-color: #A0C4D9 !important;
}

.travel {
  background-color: #B7D5B0  !important;
}

.eat {
  background-color: #F9DBB0 !important;
}

.trek {
  background-color: #D4CFC4 !important;
}

.rent {
  background-color: lightgoldenrodyellow !important;
}

.event {
  background-color: #D7BDE8 !important;
}

.shop {
  background-color: #FBC1B6  !important;
}

.positive-color {
  color: forestgreen !important;
}

.negative-color {
  color: indianred !important;
}

.default-color {
  color: black !important;
}

.today {
  color: goldenrod !important;
}

.selected {
  background-color: lightgrey !important;
}

.selected-button{
  background-color: steelblue !important;
  border: 2px solid white !important;
  box-shadow: 0 0 1px 2px steelblue !important;
}

