/* You can add global styles to this file, and also import other style files */
@import "@fortawesome/fontawesome-free/css/all.min.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Collegiate+One:ital@0;1&family=Belanosima:wght@400;600;700&family=Chicle&family=Fjalla+One&family=Fruktur:ital@0;1&family=Nothing+You+Could+Do&family=Odor+Mean+Chey&family=Purple+Purse&family=Rubik+Doodle+Shadow&family=Sigmar&family=Sirin+Stencil&family=Tourney:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet"');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap" rel="stylesheet"');



html, body { height: 100%; }
body { margin: 0; font-family: Montserrat, "Montserrat", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Montserrat, "Montserrat", sans-serif; }

body {
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}


p, a, span {
  font-family: 'Montserrat', sans-serif;
}


.header,
.subheader,
.text-primary,
.text-secondary,
.text-accent,
.mat-card-title,
.mat-card-header,
.mat-card,
.mat-card-content,
.mdc-form-field,
.mdc-text-field--outlined,
.mdc-notched-outline--upgraded,
.mdc-floating-label--float-above {
  font-family: 'Montserrat', sans-serif;
}

.container {
  padding-top: 2%;
  display: block;
  justify-content: center;
  align-items: start;
  background-color: #2E3944;
  height: 150vh;
  width: 100%;
}

.second-container {
  align-items: center;
  border-radius: 15px !important;
  background-color: #EDEAE5 !important;
  color: #2E3944 !important;
  display: block;
  width: 100% !important;
  margin: auto;
  border: 3px solid #2E3944;

  .toolbar-row {
    padding: 50px;
    justify-content: center;
  }


  .mdc-text-field--outlined {
    background-color: whitesmoke !important;

  }

  .mdc-text-field--outlined .mdc-notched-outline__leading,
  .mdc-text-field--outlined .mdc-notched-outline__notch,
  .mdc-text-field--outlined .mdc-notched-outline__trailing {
    border-color: #2E3944 !important;
  }

  .mdc-form-field,
  .mdc-text-field--outlined,
  .mdc-notched-outline--upgraded,
  .mdc-floating-label--float-above {
    color: #2E3944 !important;

  }
}

.full-width {
  width: 100%;
}

.content{
  text-align: center;
}

.custom-button-0{
  background-color: #2E3944 !important;
  color: whitesmoke !important;
  border-radius: 15px !important;
  margin:18px !important;
  font-size: 16px !important;
  width: 140px;
  height: 50px;
}

.custom-button-1 {
  background-color: #7B9D9C !important;
  color: whitesmoke !important;
  font-size: 16px !important;
  border-radius: 15px !important;
  padding: 4px 8px !important;
  width: 140px;
  height: 50px;
}

.custom-button-2 {
  background: transparent !important;
  color: darkred !important;
  font-size: 14px !important;
  border-radius: 7px !important;
  font-weight: 600;
  width: auto;
  height: 20px;
  border: none;
}

.logout-button {
  background: transparent !important;
  color: #7B9D9C !important;
  font-size: 16px !important;
  width: auto;
  height: auto;
  border: none;
}

.custom-button-4 {
  background-color: lightcoral !important;
  color: #2E3944 !important;
  border-radius: 15px !important;
  margin:18px !important;
  font-size: 16px !important;
  width: 140px;
  height: 50px;
}

.pagination-button {
  background: transparent !important;
  border: none;
  color: #2E3944 !important;
  font-size: 28px !important;
  font-weight: bold;
  width: 50px;
  font-family: Purple Purse, sans-serif;
}

.custom-button-0,
.custom-button-1,
.custom-button-2,
.logout-button,
.custom-button-4,
.button-rules {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  letter-spacing: 0.3px;
  font-family: 'Montserrat', sans-serif;
  margin: 10px;
  font-weight: 500;
}

.custom-button-0:hover,
.custom-button-2:hover,
.custom-button-1:hover,
.custom-button-4:hover {
  background-color: #A1C3D1 !important;
  color: #2E3944 !important;
}

.pagination-button:hover {
  background-color: rgba(161, 195, 209, 0.3) !important;
  border-radius: 10%;
}

.error-msg {
  color: darkred;
  text-align: center;
}

.header-shadow {
  text-align: center;
  text-shadow: gray 2px 2px 2px;
  margin: 10px !important;
}

.custom-card {
  border-radius: 16px;
}

.dialog-header {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  height: 40px;
  background-color: #BFBDB8;
  border-bottom: 1px solid gray;
}

.mat-icon {
  cursor: pointer;
  color: #2E3944;
}

.close-button {
  width: 22px;
  height: 22px;
  min-width: 22px;
  margin-right: 10px;
  background-color: transparent !important;
}

.close-icon {
  cursor: pointer;
  font-size: 22px;
  font-weight: bold;
  margin-right: 10px;
  color: #2E3944;
  background-color: transparent !important;
}

.close-button:hover,
.close-icon:hover {
  background-color: #A1C3D1;
  opacity: 0.5;
}

.label-padding {
  padding-right: 50px;
  padding-left: 50px;
}

.mdc-notched-outline__notch
{
  border-left: none !important;
}

.padding-bottom {
  padding-bottom: 15px;
}

.trip-font {
  font-family: 'Kalam', sans-serif !important;
}

// -Start- Menu Component

.admin-background {
  background-color: black;
}

.user-background {
  background-color: #2E3944;
}

.toolbar-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  overflow: hidden;
  max-width: 100%;
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.menu-buttons {
  display: flex;
  justify-content: start;
  margin-left: 5%;
  flex-grow: 1;
}

.user {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

// -End- Menu Component
