<form class="container-vertical align-center full-width">

  <button class="user-button puffer user-button-radius information-are-shadow button-background-white button-border-dark"
          (click)="provideBadgeToParent('rent');
                                              provideTypeToParent('rent-car');
                                              provideFirstStatusToParent('renting');
                                              provideSecondStatusToParent('returning');
                                              createRent()"
          [ngClass]="buttonClasses['rent_car']"
          matTooltip="Car">
    <img src="../../../../../assets/images/activity/rent-car.png" class="button-image" alt="">
  </button>

  <button class="user-button puffer user-button-radius information-are-shadow button-background-white button-border-dark"
          (click)="provideBadgeToParent('rent');
                                              provideTypeToParent('rent');
                                              provideFirstStatusToParent('renting');
                                              provideSecondStatusToParent('returning');
                                              createRent()"
          [ngClass]="buttonClasses['rent']"
          matTooltip="Other">
    <img src="../../../../../assets/images/activity/rent.png" class="button-image" alt="">
  </button>

</form>
