<div class="toolbar-row-end">
  <div class="account-container">
    <div class="avatar-button-container">
      <button mat-icon-button class="profile-button" matTooltip="Account settings"
              (click)="openAccountDetails()" type="submit">
        <img *ngIf="avatarImg" [src]="avatarImg" class="profile-image" alt="User Avatar" fill priority>
      </button>
    </div>
    <div>
      <mat-label class="profile-label">
        {{this.userName}}
      </mat-label>
    </div>
  </div>
  <div>
    <button class="logout-button" matTooltip="Logout" (click)=logout()>
      <i class="fas fa-sign-out-alt fa-3x"></i>
    </button>
  </div>
</div>
