<div class="container-horizontal second-container">
  <div style="margin-right: 30px">
    <div class="container-vertical second-container">
      <button mat-icon-button class="avatar-button puffer avatar-button-radius " matTooltip="Account settings"
              (click)="openAccountDetails()" type="submit">
        <img *ngIf="avatarImg" [src]="avatarImg" class="button-image avatar-button-radius button-border" alt="User Avatar" fill priority>
      </button>
    </div>
    <div>
      <p class="text-color-light username-text font-size-medium">
        {{this.userName}}
      </p>
    </div>
  </div>
  <div class="padding-small-horizontal">
    <button class="avatar-button puffer" mat-icon-button matTooltip="Logout" (click)=logout()>
      <img src="../../../../../assets/images/logout.png" class="button-image"  alt="">
    </button>
  </div>
</div>
