<div class="container-horizontal align-center background-color-toolbar toolbar-menu">
  <div class="logo">
    <app-logo></app-logo>
  </div>
  <div class="menu-buttons">
    <app-manager-buttons></app-manager-buttons>
  </div>
  <div class="user">
    <app-user></app-user>
  </div>
</div>

<div>
  <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)"
         class="mat-elevation-z8">

    <ng-container matColumnDef="avatar">
      <th mat-header-cell *matHeaderCellDef class="small-column" style="text-align: center">Avatar</th>
      <td mat-cell *matCellDef="let element" class="small-column">
        <button class="user-button puffer avatar-button-radius" matTooltip="Avatar"
                (click)="onAvatar()">
          <img [src]="'data:image/jpeg;base64,' + element.avatar" alt="Cover Image" class="button-image avatar-button-radius border" />
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="userId">
      <th mat-header-cell *matHeaderCellDef class = "small-column" mat-sort-header disableClear sortActionDescription="Sort by userId">
        Id
      </th>
      <td mat-cell *matCellDef="let element" class = "small-column"> {{element.userId}} </td>
    </ng-container>

    <ng-container matColumnDef="userName">
      <th mat-header-cell *matHeaderCellDef class = "large-column" mat-sort-header disableClear sortActionDescription="Sort by name">
        Name
      </th>
      <td mat-cell *matCellDef="let element" class = "large-column"> {{element.userName}} </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef class = "large-column" mat-sort-header disableClear sortActionDescription="Sort by email">
        Email
      </th>
      <td mat-cell *matCellDef="let element" class = "large-column"> {{element.email}} </td>
    </ng-container>

    <ng-container matColumnDef="accountLocked">
      <th mat-header-cell *matHeaderCellDef class = "small-column" mat-sort-header disableClear sortActionDescription="Sort by is Locked">
        Locked
      </th>
      <td mat-cell *matCellDef="let element" class = "small-column"> {{element.accountLocked}} </td>
    </ng-container>

    <ng-container matColumnDef="enabled">
      <th mat-header-cell *matHeaderCellDef class = "small-column" mat-sort-header disableClear sortActionDescription="Sort by is Enabled">
        Enabled
      </th>
      <td mat-cell *matCellDef="let element" class = "small-column"> {{element.enabled}} </td>
    </ng-container>

    <ng-container matColumnDef="createdDate">
      <th mat-header-cell *matHeaderCellDef class = "medium-column" mat-sort-header disableClear sortActionDescription="Sort by created date">
        Created
      </th>
      <td mat-cell *matCellDef="let element" class = "medium-column"> {{element.createdDate}} </td>
    </ng-container>

    <ng-container matColumnDef="lastModifiedDate">
      <th mat-header-cell *matHeaderCellDef class = "medium-column" mat-sort-header disableClear sortActionDescription="Sort by is last modified">
        Last Modified
      </th>
      <td mat-cell *matCellDef="let element" class = "medium-column"> {{element.lastModifiedDate}} </td>
    </ng-container>

    <ng-container matColumnDef="roles">
      <th mat-header-cell *matHeaderCellDef class = "small-column" mat-sort-header disableClear sortActionDescription="Sort by role">
        Role
      </th>
      <td mat-cell *matCellDef="let element" class = "small-column"> {{element.roleName}} </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef class="medium-column full-width"></th>
      <td mat-cell *matCellDef class="medium-column full-width">
        <div class="full-width container-horizontal">

          <button class="small-button puffer margin-small-horizontal" matTooltip="Edit"
                  (click)="onEdit()">
            <img src="../../../../../assets/images/edit.png" class="button-image" alt="">
          </button>

          <button class="small-button puffer margin-small-horizontal" matTooltip="Delete"
                  (click)="onDelete()">
            <img src="../../../../../assets/images/delete-button.png" class="button-image" alt="">
          </button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="toggleRow(row)" [class.selected]="selection.isSelected(row)"></tr>
  </table>
</div>
<div class="container-horizontal full-width paginator-container border-top">
  <button class="pagination-button puffer" (click)="goToFirstPage()" type="submit" [class.disabled]="page === 0"> << </button>
  <button class="pagination-button puffer" (click)="goToPreviousPage()" type="submit" [class.disabled]="page === 0"> < </button>
  <p class="margin-top">{{page + 1}} of {{usersList.totalPages}}</p>
  <button class="pagination-button puffer" (click)="goToNextPage()" type="submit" [class.disabled]="isLastPage"> > </button>
  <button class="pagination-button puffer" (click)="goToLastPage()" type="submit" [class.disabled]="isLastPage"> >> </button>
</div>
