<div class="container background-color-dark">
  <div>
    <mat-card class="second-container background-color-light border border-radius container-shadow  container-limit">
      <mat-card-header class="header">
        <h4>Create Account</h4>
      </mat-card-header>

      <form class="padding-big container-vertical">
        <mat-form-field appearance="outline" class="register-insert-width">
          <mat-label>Name</mat-label>
          <input type="text"
                 matInput
                 [(ngModel)]="registerRequest.userName"
                 [ngModelOptions]="{standalone: true}"
                 placeholder="Your name"
                 autocomplete="name"
                 (keydown.enter)="$event.preventDefault()">
        </mat-form-field>

        <mat-form-field appearance="outline" class="register-insert-width">
          <mat-label>Email</mat-label>
          <input type="email"
                 matInput
                 [(ngModel)]="registerRequest.email"
                 [ngModelOptions]="{standalone: true}"
                 placeholder="Ex. pat@example.com"
                 autocomplete="email"
                 (keydown.enter)="$event.preventDefault()">
        </mat-form-field>

        <mat-form-field appearance="outline" class="register-insert-width">
          <mat-label>Password</mat-label>
          <input type="password" matInput
                 [type]="hidePassword ? 'password' : 'text'"
                 [(ngModel)]="registerRequest.password"
                 [ngModelOptions]="{standalone: true}"
                 placeholder="Password"
                 autocomplete="new-password"
                 (keydown.enter)="$event.preventDefault()">
          <button
            mat-icon-button
            matSuffix
            type="button"
            (click)="togglePasswordVisibility()"
            (keydown.enter)="$event.preventDefault()"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hidePassword">
            <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
        </mat-form-field>

        <mat-form-field appearance="outline" class="register-insert-width">
          <mat-label>Confirm password</mat-label>
          <input type="password"
                 matInput
                 [type]="hidePassword ? 'password' : 'text'"
                 [(ngModel)]="registerRequest.confirmPassword"
                 [ngModelOptions]="{standalone: true}"
                 placeholder="Password"
                 autocomplete="confirm-password"
                 (keydown.enter)="$event.preventDefault()">
          <button
            mat-icon-button
            matSuffix
            type="button"
            (click)="togglePasswordVisibility()"
            (keydown.enter)="$event.preventDefault()"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hidePassword">
            <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-select [(value)] = "registerRequest.roleName"
                      [ngClass]="getRoleClass(registerRequest.roleName)"
                      style="font-weight: 600">
            <mat-option *ngFor="let role of roles" [value]="role">
              {{ role }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <div>
          <button class="button button-1 background-color-dark" (click)="register()">Sign Up</button>
          <button class="button button-1 background-color-medium" (click)="login()">Login</button>
        </div>
      </form>
      <div class="full-width error-msg border-top error-background" *ngIf="errorMsg.length > 0">
        <p *ngFor="let msg of errorMsg" class="padding-main-horizontal">- {{msg}} -</p>
      </div>
    </mat-card>
  </div>
</div>
