.container-size {
  max-width: 30% !important;
}

.admin{
  color: darkred !important;
}

.default{
  color: darkgreen !important;
}

.admin,
.default{
  font-size: 16px !important;
  font-weight: bold !important;
}

.error-background {
  background-color: whitesmoke;
  border-bottom-left-radius: 15px !important;
  border-bottom-right-radius: 15px !important;
}

