<mat-toolbar-row class="dialog-header">
  <div class="full-width activity-edit-toolbar">
    <div class="dialog-title">{{ activity.badge?.toUpperCase() }}
      <div class="dialog-title"> | {{ day.date }}</div>
    </div>
    <button mat-icon-button class="close-button"
            (click)="onClose()"
            (keydown.enter)="$event.preventDefault()">
      <mat-icon class="close-icon">close</mat-icon>
    </button>
  </div>
</mat-toolbar-row>

<mat-card-content class="activity-main-container">
  <form class="activity-sub-container">
    <div style="display: flex; flex-direction: column">
      <div>
        <div class="group-container mat-elevation-z4">
          <div class="column-container">
            <mat-label class="label">Description</mat-label>
            <input type="text"
                   matInput
                   class="insert insert-width"
                   [(ngModel)]="activity.activityTitle"
                   [ngModelOptions]="{standalone: true}"
                   placeholder=""
                   autocomplete="description"
                   (keydown.enter)="$event.preventDefault()">
          </div>

          <div class="-content-container">
            <div class="column-container">
              <mat-label class="label">Date</mat-label>
              <mat-select class="insert"
                          [(ngModel)]="date"
                          name="currency"
                          style="background-color: whitesmoke">
                <mat-option *ngFor="let date of dates" [value]="date">
                  {{ date }}
                </mat-option>
              </mat-select>
            </div>
          </div>

          <div class="time-container">
            <div class="column-container">
              <mat-label class="label">
                From
              </mat-label>
              <input matInput
                     type="time"
                     class="insert"
                     style="margin-left: 1%"
                     [ngModelOptions]="{standalone: true}"
                     [(ngModel)]="startTime"
                     placeholder="HH:mm">
              <mat-error *ngIf="startTime && !isValidTime(startTime)">
                Invalid time format. Please use HH:mm.
              </mat-error>
            </div>

            <div class="column-container" *ngIf="isEndTimeIncluded">
              <mat-label class="label">Ends</mat-label>
              <input matInput
                     type="time"
                     class="insert"
                     [ngModelOptions]="{standalone: true}"
                     [(ngModel)]="endTime"
                     placeholder="HH:mm">
              <mat-error *ngIf="endTime && !isValidTime(endTime)">
                Invalid time format. Please use HH:mm.
              </mat-error>
            </div>
          </div>
        </div>
      </div>

      <div class="group-container mat-elevation-z4">
        <div class="column-container">
          <mat-label class="label">Place</mat-label>
          <input type="text"
                 matInput
                 class="insert insert-width"
                 [(ngModel)]="address.place"
                 [ngModelOptions]="{standalone: true}"
                 placeholder=""
                 autocomplete="place"
                 (keydown.enter)="$event.preventDefault()">
        </div>
        <div class="country-city-container">
          <div class="insert-column">
            <div class="column-container">
              <mat-label class="label">Country</mat-label>
              <mat-select class="insert country-city-width drop-list-background"
                          [(ngModel)]="country"
                          (ngModelChange)="onCountryChange(country!)"
                          name="country">
                <mat-option *ngFor="let country of countries" [value]="country">
                  {{ country.name }}
                </mat-option>
              </mat-select>
            </div>

            <div class="column-container">
              <input type="text"
                     matInput
                     class="insert country-city-width"
                     [(ngModel)]="country.name"
                     [ngModelOptions]="{standalone: true}"
                     (blur)="onCountryChangeInsert(country.name!)">
            </div>
          </div>

          <div class="insert-column">
            <div class="column-container">
              <mat-label class="label">City</mat-label>
              <mat-select class="insert country-city-width drop-list-background"
                          [(ngModel)]="city"
                          (ngModelChange)="onCityChange(city!)"
                          name="city">
                <mat-option *ngFor="let city of cities" [value]="city">
                  {{ city.city }}
                </mat-option>
              </mat-select>
            </div>

            <div class="column-container">
              <input type="text"
                     matInput
                     class="insert country-city-width"
                     [(ngModel)]="city.city"
                     [ngModelOptions]="{standalone: true}"
                     (blur)="onCityChangeInsert(city.city!)">
            </div>
          </div>
        </div>
        <div>
          <div class="column-container">
            <mat-label class="label">Address</mat-label>
            <input type="text"
                   matInput
                   class="insert insert-width"
                   [(ngModel)]="address.address"
                   [ngModelOptions]="{standalone: true}"
                   placeholder=""
                   autocomplete="address"
                   (keydown.enter)="$event.preventDefault()">
          </div>

          <div class="column-container">
            <mat-label class="label">Website</mat-label>
            <input type="text"
                   matInput
                   class="insert insert-width"
                   [(ngModel)]="address.website"
                   [ngModelOptions]="{standalone: true}"
                   placeholder=""
                   autocomplete="website"
                   (keydown.enter)="$event.preventDefault()">
          </div>
          <div class="phone-email-container">
            <div class="column-container">
              <mat-label class="label">Phone</mat-label>
              <input type="text"
                     matInput
                     class="insert "
                     [(ngModel)]="address.phone"
                     [ngModelOptions]="{standalone: true}"
                     placeholder=""
                     autocomplete="phone"
                     (keydown.enter)="$event.preventDefault()">
            </div>
            <div class="column-container" style="margin-left:5px">
              <mat-label class="label">Email</mat-label>
              <input type="email"
                     matInput
                     class="insert email-width"
                     [(ngModel)]="address.email"
                     [ngModelOptions]="{standalone: true}"
                     placeholder=""
                     autocomplete="email"
                     (keydown.enter)="$event.preventDefault()">
            </div>
          </div>
        </div>
      </div>
      <mat-label class="tag mat-elevation-z4"> Tag to day card:
        <mat-checkbox [(ngModel)]="activity.dayTag" name="dayTag"></mat-checkbox>
      </mat-label>

      <div class="button-area">
        <button class="custom-button-0 " (click)="updateActivity()" type="submit">Save</button>
        <button class="custom-button-1 " (click)="onClose()" type="submit">Cancel</button>
      </div>
    </div>

    <div style="margin-left:20px">
      <div *ngIf="activity.badge === 'stay'">
        <app-stay
          [_type]="activity.type!"
          (provideType)="receiveType($event)">
        </app-stay>
      </div>

      <div *ngIf="activity.badge === 'travel'">
        <app-travel
          [_type]="activity.type!"
          (provideType)="receiveType($event)">
        </app-travel>
      </div>

      <div *ngIf="activity.badge === 'rent'">
        <app-rent
          [_type]="activity.type!"
          (provideType)="receiveType($event)">
        </app-rent>
      </div>

      <div *ngIf="activity.badge === 'eat'">
        <app-eat
          [_type]="activity.type!"
          (provideType)="receiveType($event)">
        </app-eat>
      </div>

      <div *ngIf="activity.badge === 'trek'">
        <app-trek
          [_type]="activity.type!"
          (provideType)="receiveType($event)">
        </app-trek>
      </div>

      <div *ngIf="activity.badge === 'event'">
        <app-event
          [_type]="activity.type!"
          (provideType)="receiveType($event)">
        </app-event>
      </div>

      <div *ngIf="activity.badge === 'shop'">
        <app-shop
          [_type]="activity.type!"
          (provideType)="receiveType($event)">
        </app-shop>
      </div>
    </div>
  </form>
</mat-card-content>

<div class="full-width error-msg" role="alert" *ngIf="errorMsg.length > 0">
  <mat-divider class="padding-bottom"></mat-divider>
  <p *ngFor="let msg of errorMsg">{{ msg }}</p>
</div>
