.second-container {
  display: flex;
  justify-content: start;
  width: 100% !important;
  height: 100% !important;
}

.mat-mdc-icon-button ::ng-deep .mat-mdc-button-persistent-ripple {
  display: none;
}


