<mat-toolbar-row class="dialog-header">
  <div class="dialog-title">Password change</div>
  <button mat-icon-button class="close-button"
          (click)="onClose()"
          (keydown.enter)="$event.preventDefault()">
    <mat-icon class="close-icon">close</mat-icon>
  </button>
</mat-toolbar-row>

<div class="dialog-container" >
  <form>
    <div class="label-padding">
      <mat-form-field appearance="outline" class="full-width">

        <mat-label>Current Password:</mat-label>
        <input type="password"
               matInput
               [type]="hide() ? 'password' : 'text'"
               [(ngModel)]="changePasswordRequest.currentPassword"
               [ngModelOptions]="{standalone: true}"
               placeholder="Current Password"
               autocomplete="password"
               (keydown.enter)="$event.preventDefault()">
        <button
          mat-icon-button
          matSuffix
          (click)="clickEvent($event)"
          (keydown.enter)="$event.preventDefault()"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide()">
          <mat-icon>{{ hide() ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>New Password:</mat-label>
        <input type="password"
               matInput
               [type]="hide() ? 'password' : 'text'"
               [(ngModel)]="changePasswordRequest.newPassword"
               [ngModelOptions]="{standalone: true}"
               placeholder="New Password"
               autocomplete="password"
               (keydown.enter)="$event.preventDefault()">
        <button
          mat-icon-button
          matSuffix
          (click)="clickEvent($event)"
          (keydown.enter)="$event.preventDefault()"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide()">
          <mat-icon>{{ hide() ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Confirm Password:</mat-label>
        <input type="password"
               matInput
               [type]="hide() ? 'password' : 'text'"
               [(ngModel)]="changePasswordRequest.confirmPassword"
               [ngModelOptions]="{standalone: true}"
               placeholder="Confirm Password"
               autocomplete="password"
               (keydown.enter)="$event.preventDefault()">
        <button
          mat-icon-button
          matSuffix
          (click)="clickEvent($event)"
          (keydown.enter)="$event.preventDefault()"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide()">
          <mat-icon>{{ hide() ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
      </mat-form-field>

    </div>
  </form>
  <button class="custom-button-0" (click)="changePassword()" type="submit">Change</button>
</div>

<div class="full-width error-msg" role="alert" *ngIf="errorMsg.length > 0">
  <mat-divider class="padding-bottom"></mat-divider>
  <p *ngFor="let msg of errorMsg">{{ msg }}</p>
  <mat-divider></mat-divider>
</div>


