.table-container {
  width: 100% !important;
  height: 80% !important;
  overflow-y: auto !important;
  overflow-x: auto !important;
  display: block !important;
  min-height: 100vh;
  max-height: 80vh;
}

.mdc-data-table__table {
  background-color: whitesmoke !important;
}

.mat-mdc-header-row {
  background-color: #2E3944 !important;
  color: whitesmoke !important;
}

:host ::ng-deep .mat-sort-header-arrow{
  color: whitesmoke !important;
}

:host ::ng-deep .mat-sort-header-container {
  display: flex;
  justify-content: start;
  width: auto;
}

th, td {
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  word-break: break-word;
  align-content: center !important;
}

.date-column {
  max-width: 6vw !important;
}

.expanse-column {
  max-width: 17vw !important;
}

.description-column {
  max-width: 15vw !important;
}

.currency-column {
  max-width: 6vw !important;
  min-width: 6vw !important;
}

.amount-currency-column {
  max-width: 12vw !important;
}

.trip-currency-column {
  max-width: 12vw !important;
}

.exchange-column {
  max-width: 10vw !important;
}

.action-column {
  max-width: 5vw !important;
}

.selected {
  background-color: #C0D0D8 !important;
}

.amount-margin {
  margin-left: 10px !important;
}

.currency-margin {
  margin-left: 5px !important;
}

.spread-evenly {
  display: flex;
  justify-content: space-between;
}

.bracket-margin {
  margin-right: 5px !important;
  margin-left: 5px !important;
}




