<div class="container-horizontal align-center background-color-toolbar toolbar-menu">
  <div class="logo">
    <app-logo></app-logo>
  </div>
  <div class="menu-buttons">
    <app-budget-buttons
      *ngIf="tripId"
      [_tripId]="tripId"
      [_budget]="budgetExpanse.budgetResponse!"
      [_sumsByCurrency]="budgetExpanse.sumsByCurrency!"
      (afterSave)="getBudgetExpenses()"
    ></app-budget-buttons>
  </div>
  <div class="user">
    <app-user></app-user>
  </div>
</div>

<div class="padding-big background-color-light">
  <div class="container-horizontal spread-evenly background-color-toolbar information-are-shadow padding-big" style="border: 2px solid whitesmoke">

    <div class="container-vertical align-left font-color-white">
      <div class="container-horizontal align-to-baseline">
        <label class="font-size-label">Budget: </label>
        <label class="font-size-text font-color-light amount-margin">
          {{formatAmount(budgetExpanse.budgetResponse?.budgetAmount!)}} </label>
        <label class="font-size-small currency-margin"> {{budgetExpanse.budgetResponse?.currency}}</label>
      </div>

      <div class="container-horizontal align-to-baseline">
        <label class="font-size-label">PRICE/PAID: </label>
        <label class="font-size-text amount-margin" [ngClass]="getColorAmount(budgetExpanse.totalDebtInTripCurrency!)">
          {{formatAmount(budgetExpanse.totalDebtInTripCurrency!)}} </label>
        <label class="font-size-small currency-margin">{{budgetExpanse.budgetResponse?.currency}}</label>
      </div>
    </div>

    <div class="container-vertical align-left font-color-white">
      <div class="container-horizontal align-to-baseline">
        <label class="font-size-label">Price: </label>
        <label class="font-size-text font-color-light amount-margin">{{formatAmount(budgetExpanse.overallPriceInTripCurrency!)}} </label>
        <label class="font-size-small currency-margin">{{budgetExpanse.budgetResponse?.currency!}}</label>
        <label class="bracket-margin"> ( </label>
        <label [ngClass]="getColorAmount(budgetExpanse.priceBalanceDue!)"
               class="font-size-text">{{formatAmount(budgetExpanse.priceBalanceDue!)}} </label>
        <label class="font-size-small currency-margin">{{budgetExpanse.budgetResponse?.currency}}</label>
        <label class="bracket-margin"> )</label>
      </div>

      <div class="container-horizontal align-to-baseline">
        <label class="font-size-label">Paid: </label>
        <label class="font-size-text font-color-light amount-margin">{{formatAmount(budgetExpanse.overallPaidInTripCurrency!)}}</label>
        <label class="font-size-small currency-margin">{{budgetExpanse.budgetResponse?.currency}}</label>
        <label class="bracket-margin"> ( </label>
        <label [ngClass]="getColorAmount(budgetExpanse.paidBalanceDue!)"
               class="font-size-text">{{formatAmount(budgetExpanse.paidBalanceDue!)}} </label>
        <label class="font-size-small currency-margin">{{budgetExpanse.budgetResponse?.currency}}</label>
        <label class="bracket-margin"> )</label>
      </div>
    </div>
  </div>
</div>

<div class="background-color-light table-container container-vertical full-width">
  <div class="margin-big">
    <table class="container-shadow" mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)">

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear class="date-column">
          Date
        </th>
        <td mat-cell *matCellDef="let element" class="date-column font-size-label">
          <div [innerHTML]="formatExpanseCategory(element.date)"></div>
        </td>
      </ng-container>

      <ng-container matColumnDef="expanseCategory">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear class="expanse-column">
          Expanse
        </th>
        <td mat-cell *matCellDef="let element" class="expanse-column font-size-label">
          <div [innerHTML]="formatExpanseCategory(element.expanseCategory)"></div>
        </td>
      </ng-container>

      <ng-container matColumnDef="expanseName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear class="description-column"
            sortActionDescription="Sort by expanseName" >
          Description
        </th>
        <td mat-cell *matCellDef="let element" class="description-column font-size-label">
          {{element.expanseName}}
        </td>
      </ng-container>

      <ng-container matColumnDef="currency">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear class="currency-column"
            sortActionDescription="Sort by currency">
          Currency
        </th>
        <td mat-cell *matCellDef="let element" class="currency-column font-size-label">
          {{element.currency}}
        </td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear class="amount-currency-column"
            sortActionDescription="Sort by price">
          Price
        </th>
        <td mat-cell *matCellDef="let element" class="amount-currency-column table-content-font">
          {{formatAmount(element.price!)}}
          <label class="font-size-label">{{element.currency!}} </label>
        </td>
      </ng-container>

      <ng-container matColumnDef="paid">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear class="amount-currency-column"
            sortActionDescription="Sort by paid">
          Paid
        </th>
        <td mat-cell *matCellDef="let element" class="amount-currency-column table-content-font">
          {{formatAmount(element.paid!)}}
          <label class="font-size-label">{{element.currency}} </label>
        </td>
      </ng-container>

      <ng-container matColumnDef="exchangeRate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear class="exchange-column"
            sortActionDescription="Sort by exchangeRate">
          <div class="header-column">
            <div>Exchange</div>
            <div >Rate</div>
          </div>
        </th>
        <td mat-cell *matCellDef="let element" class="exchange-column table-content-font">
          <div *ngIf="element.exchangeRate!==1">  {{element.exchangeRate}}</div>
        </td>
      </ng-container>

      <ng-container matColumnDef="priceInTripCurrency">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear class="trip-currency-column"
            sortActionDescription="Sort by priceInTripCurrency">
          <div class="header-column">
            <div>Price</div>
            <div class="font-size-label">({{budgetExpanse.budgetResponse!.currency}})</div>
          </div>
        </th>
        <td mat-cell *matCellDef="let element" class="trip-currency-column table-content-font">
          {{formatAmount(element.priceInTripCurrency!)}}
          <label class="font-size-label">{{budgetExpanse.budgetResponse!.currency}} </label>
        </td>
      </ng-container>

      <ng-container matColumnDef="paidInTripCurrency">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear class="trip-currency-column"
            sortActionDescription="Sort by paidInTripCurrency">
          <div class="header-column">
            <div>Paid</div>
            <div class="font-size-label">({{budgetExpanse.budgetResponse!.currency}})</div>
          </div>
        </th>
        <td mat-cell *matCellDef="let element" class="trip-currency-column table-content-font">
          {{formatAmount(element.paidInTripCurrency!)}}
          <label class="font-size-label">{{budgetExpanse.budgetResponse!.currency}} </label>
        </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef class="action-column"></th>
        <td mat-cell *matCellDef="let i = index" class="action-column">
          <div class="align-center">
            <button class="small-button puffer" matTooltip="Open expance"
                    (click)="openExpanse(i)"
                    [disabled]="currentRowIndex === -1">
              <img src="../../../../../assets/images/expanse-dollar.png" class="button-image" alt="">
            </button>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="toggleRow(row)" [class.selected]="selection.isSelected(row)"></tr>
    </table>
  </div>
</div>



