<div class="container background-color-dark">
  <div>
    <mat-card class="second-container background-color-light border border-radius container-shadow ">
      <mat-card-header class="header">
        <h4>Login</h4>
      </mat-card-header>

      <mat-card-content>
        <form class="padding-main-horizontal">
          <mat-form-field appearance="outline" class="full-width" >
            <mat-label>Email</mat-label>
            <input type="email"
                   matInput
                   [(ngModel)]="authRequest.email"
                   [ngModelOptions]="{standalone: true}"
                   placeholder="Ex. pat@example.com"
                   autocomplete="email"
                   (keydown.enter)="$event.preventDefault()">
          </mat-form-field>

          <mat-form-field appearance="outline" class="full-width" >
            <mat-label>Password: </mat-label>
            <input type="password"
                   matInput [type]="hide() ? 'password' : 'text'"
                   [(ngModel)]="authRequest.password"
                   [ngModelOptions]="{standalone: true}"
                   placeholder="Password"
                   autocomplete="new-password"
                   (keydown.enter)="$event.preventDefault()">
            <button
              mat-icon-button
              matSuffix
              (click)="clickEvent($event)"
              (keydown.enter)="$event.preventDefault()"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide()">
              <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>

          <div>
            <button class="button button-1 background-color-dark" (click)="signIn()">Sign In</button>
            <div>
              <button class=" button button-1 background-color-medium" (click)="register()">Register</button>
            </div>
          </div>
          <div style="margin-top:20px; margin-bottom:10px">
            <div>
              <button class="button button-2" (click)=activateAccount()>Activate account</button>
            </div>
            <div>
              <button class="button button-2 background-color-dark font-color-white" (click)=resentActivationCode()>Code Request</button>
            </div>
            <button class="button button-3 warning-color" (click)=resetPassword()>Reset password</button>
          </div>
        </form>
      </mat-card-content>

      <div class="full-width error-msg border-top error-background" role="alert" *ngIf="errorMsg.length > 0">
        <p *ngFor="let msg of errorMsg" class="padding-main-horizontal">- {{msg}} -</p>
      </div>
    </mat-card>
  </div>
</div>


