.second-container {
  width: 35% !important;
  display: flex;
  justify-content: center;
}

.activate-button {
  color: #2E3944 !important;
  font-weight: 550;
}

.error-background {
  background-color: whitesmoke;
  border-bottom-left-radius: 15px !important;
  border-bottom-right-radius: 15px !important;
}
