<div class="container">
  <mat-card class="second-container">
    <mat-card-header class="header-shadow">
        <h3>Login</h3>
    </mat-card-header>

    <mat-card-content class="content">
      <form>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Email</mat-label>
          <input type="email" matInput [(ngModel)]="authRequest.email"
                 [ngModelOptions]="{standalone: true}" placeholder="Ex. pat@example.com" autocomplete="email">
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Password</mat-label>
          <input type="password" matInput [type]="hide() ? 'password' : 'text'" [(ngModel)]="authRequest.password"
                 [ngModelOptions]="{standalone: true}" placeholder="Password" autocomplete="new-password">
          <button
            mat-icon-button
            matSuffix
            (click)="clickEvent($event)"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide()">
            <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>

        <div>
          <button (click)="login()" mat-raised-button class="custom-button custom-button-login" type="submit">Sign In</button>
          <div class="alert alert-danger full-width error-msg" role="alert" *ngIf="errorMsg.length > 0">
            <hr>
            <p *ngFor="let msg of errorMsg">{{msg}}</p>
            <hr style="margin-bottom: 30px">
          </div>
          <div>
            You don't have an account?
            <div>
              <button mat-button class="custom-button-second"  style="margin-top: 5px" (click)="register()">Register</button>
            </div>
          </div>
        </div>

      </form>
    </mat-card-content>
  </mat-card>
</div>
