<mat-toolbar-row class="dialog-header">
  <div class="dialog-title">Edit user</div>
  <button mat-icon-button class="close-button"
          (click)="onClose()"
          (keydown.enter)="$event.preventDefault()">
    <mat-icon class="close-icon">close</mat-icon>
  </button>
</mat-toolbar-row>

<div class="dialog-container">
  <div class="main-container">

    <div class = "info-area mat-elevation-z8">
      <div class="margin">
        <p class="label-text">User ID: </p>
        <p class="user-details">{{userAdminResponse.userId}}</p>
      </div>

      <div class="margin">
        <p class="label-text">Name: </p>
        <p class="user-details">{{userAdminResponse.userName}}</p>
      </div>

      <div class="margin">
        <p class="label-text">Email: </p>
        <p class="user-details">{{userAdminResponse.email}}</p>
      </div>
    </div>

    <div class="fields-container mat-elevation-z8">
      <div class="edit-area">
        <div class="margin">
          <div class="top-container">

            <div class="label-container">
              <div>
                <a class="label-text font-bold">Locked:</a>
                <mat-checkbox [(ngModel)]="userAdminResponse.accountLocked" name="locked"></mat-checkbox>
              </div>
              <div>
                <a class="label-text font-bold">Enabled:</a>
                <mat-checkbox [(ngModel)]="userAdminResponse.enabled" name="enabled"></mat-checkbox>
              </div>
            </div>

            <div class="role-container">
              <p class="label-text font-bold">Role: </p>
              <mat-form-field appearance="outline" class="role-selector" style="margin-top: 14px">
                <mat-select [(value)] = "userAdminResponse.roleName" [ngClass]="getRoleClass(userAdminResponse.roleName!)">
                  <mat-option *ngFor="let role of roles" [value]="role" >
                    {{ role }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <form class = "bottom-container full-width">
    <div class="password-button-container">
      <mat-form-field appearance="outline" >
        <mat-label>Password: </mat-label>
        <input type="password"
               matInput
               [type]="hide() ? 'password' : 'text'"
               [(ngModel)]="passwordRequest"
               [ngModelOptions]="{standalone: true}"
               placeholder="Password"
               autocomplete="password"
               (keydown.enter)="$event.preventDefault()">
        <button
          mat-icon-button
          matSuffix
          (click)="clickEvent($event)"
          (keydown.enter)="$event.preventDefault()"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide()">
          <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <button class="custom-button-0" (click)="update()" type="submit">Save</button>
    </div>
  </form>
</div>
<div class="full-width error-msg" role="alert" *ngIf="errorMsg.length > 0">
  <mat-divider class="padding-bottom"></mat-divider>
  <p *ngFor="let msg of errorMsg">{{msg}}</p>
</div>

