<form class="second-container container-horizontal">
  <button class="user-button puffer button-border button-background user-button-radius"
          (click)="backToTrip($event)" matTooltip="Back to Trip">
    <img src="../../../../../assets/images/left-arrow.png" class="button-image user-button-radius" alt="">
  </button>
  <button class="user-button puffer button-border button-background user-button-radius"
          (click)="editBudget($event)" matTooltip="Edit Budget">
    <img src="../../../../../assets/images/edit.png" class="button-image user-button-radius" alt="">
  </button>
  <button class="user-button puffer button-border button-background user-button-radius"
          (click)="openBudgetCurrencies($event)" matTooltip="Expanses by Currency">
    <img src="../../../../../assets/images/different-currencies.png" class="button-image user-button-radius" alt="">
  </button>
  <button class="user-button puffer button-border button-background user-button-radius"
          (click)="openBudgetBadges($event)" matTooltip="Expanses by Category">
    <img src="../../../../../assets/images/expanses-type.png" class="button-image user-button-radius" alt="">
  </button>
  <button class="user-button puffer button-border button-background user-button-radius"
          (click)="printReport($event)" matTooltip="Print expanse report">
    <img src="../../../../../assets/images/printer.png" class="button-image user-button-radius" alt="">
  </button>
</form>
