<form class="buttons-container">
  <button class="user-button margin" (click)="backToTrip($event)" matTooltip="Back to Trip">
    <img src="../../../../../assets/images/left-arrow.png" class="user-button-image" alt="">
  </button>
  <button class="user-button margin" (click)="editBudget($event)" matTooltip="Edit Budget">
    <img src="../../../../../assets/images/edit.png" class="user-button-image" alt="">
  </button>
  <button class="user-button margin" (click)="openBudgetCurrencies($event)" matTooltip="Expanses by Currency">
    <img src="../../../../../assets/images/different-currencies.png" class="user-button-image" alt="">
  </button>
  <button class="user-button margin" (click)="openBudgetBadges($event)" matTooltip="Expanses by Category">
    <img src="../../../../../assets/images/expanses-type.png" class="user-button-image" alt="">
  </button>
  <button class="user-button margin" (click)="printReport($event)" matTooltip="Print expanse report">
    <img src="../../../../../assets/images/printer.png" class="user-button-image" alt="">
  </button>
</form>
