.add-item-button {
  width: 45px !important;
  height: 45px !important;
  padding: 3px !important;
}

.add-item-button-border {
  border: 1px solid whitesmoke;
  border-radius: 5px !important;
  box-shadow: 0 0 3px 1px whitesmoke !important;
}

textarea {
  width: 95% !important;
  border: 1px solid #A6ACB1 !important;
  border-radius: 5px !important;
  height: 32px !important;
  resize: none !important;
  padding: 5px !important;
  margin: 8px 5px 5px 5px !important;
}

textarea:focus {
  outline: none !important;
}

.packed-column {
  width: 11% !important;
}

.description-column {
  width: 40% !important;
}

.qty-column {
  width: 19% !important;
}

.action-column {
  width: 30% !important;
}

::ng-deep .mdc-checkbox__background {
  background-color: whitesmoke !important;
  border: 1px solid #2E3944 !important;
  border-radius: 3px !important;
}

::ng-deep .mdc-checkbox__checkmark {
  background-color: #2E3944 !important;
}

.font-weight {
  font-weight: 550 !important;
}

.mdc-data-table__table {
  background-color: whitesmoke !important;
}

.mat-mdc-header-row {
  background-color: #2E3944 !important;
  color: whitesmoke !important;
}

:host ::ng-deep .mat-sort-header-arrow{
  color: whitesmoke !important;
}

.mat-mdc-icon-button ::ng-deep .mat-mdc-button-persistent-ripple {
  display: none;
}

.selected {
  background-color: #C0D0D8 !important;
}

th, td {
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  word-break: break-word;
  align-content: center !important;
}

.backpack-table-container {
  width: 100%;
  max-height: 400px;
  overflow-y: auto;
  overflow-x: auto;
  max-width: 90%;
  height: 100% !important;
  scrollbar-color: whitesmoke transparent;
}

.backpack-action-button-container {
    align-items: center !important;
    text-align: center !important;
    justify-content: space-between !important;
}

.backpack-container-full-height {
  height: 100% !important;
}
