<mat-toolbar-row class="background-color-white">
  <div class="container-horizontal second-container padding-main-horizontal toolbar-spacing">
    <div>Backpack</div>
    <button mat-icon-button
            (click)="onClose()"
            (keydown.enter)="$event.preventDefault()">
      <mat-icon class="toolbar-close-button puffer">close</mat-icon>
    </button>
  </div>
</mat-toolbar-row>

<div class="backpack-container-full-height background-color-light container-vertical align-center full-width padding-main-vertical">
  <div class="margin-main backpack-table-container container-shadow background-color-dark">
    <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)">
      <ng-container matColumnDef="isPacked">
        <th mat-header-cell *matHeaderCellDef  mat-sort-header class="packed-column" sortActionDescription="Sort by packed" >
          Packed
        </th>
        <td mat-cell *matCellDef="let element" class="packed-column">
          <mat-checkbox class="puffer" [(ngModel)]="element.isPacked"></mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="itemName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear sortActionDescription="Sort by itemName">
          Item
        </th>
        <td mat-cell *matCellDef="let element" class="description-column">
          <textarea matInput [(ngModel)]="element.itemName" placeholder="Description"
                    class="background-color-white"></textarea>
        </td>
      </ng-container>

      <ng-container matColumnDef="qty">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear class="qty-column" sortActionDescription="Sort by qty">
          Qty
        </th>
        <td mat-cell *matCellDef="let element" class="qty-column">
          <textarea matInput [(ngModel)]="element.qty" placeholder="Qty" class="background-color-white"></textarea>
        </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef class="action-column">
        </th>
        <td mat-cell *matCellDef="let element; let i = index" class="action-column">
          <div class="container-horizontal full-width backpack-action-button-container">
            <div class="align-center">
              <button class= "small-button puffer" matTooltip="Add expance"
                      (click)="openExpanse(element, i)"
                      [disabled]="currentRowIndex === -1">
                <img src="../../../../../assets/images/expanse-dollar.png" class="button-image" alt="">
              </button>
            </div>

            <div class="container-vertical">
              <label>
                <label class="font-size-small"> PRICE: </label>
                <label *ngIf="element.expanse?.price !== null" class="font-size-label font-weight">
                  {{formatAmount(element.expanse.price)}}
                </label>
                <label *ngIf="element.expanse?.price !== null" class="font-size-small">
                  {{ element.expanse.currency }}
                </label>
              </label>
              <label>
                <label class="font-size-small"> PAID: </label>
                <label *ngIf="element.expanse?.paid !== null"  class="font-size-label font-weight">
                  {{formatAmount(element.expanse.paid)}}</label>
                <label *ngIf="element.expanse?.paid !== null" class="font-size-small">
                  {{ element.expanse.currency }}
                </label>
              </label>
            </div>

            <div class="align-center">
              <button class="small-button puffer" matTooltip="Delete item"
                      (click)="onDelete(element.itemId, i)"
                      [disabled]="currentRowIndex === -1">
                <img src="../../../../../assets/images/delete-button.png" class="button-image" alt="">
              </button>
            </div>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="toggleRow(row)" [class.selected]="selection.isSelected(row)"></tr>
    </table>
  </div>

  <div class="second-container container-horizontal full-width" style="justify-content: space-around">
    <div class="align-center container-horizontal">
      <button class="button button-1 background-color-dark" (click)="saveItems()">Save</button>
      <button class="button button-1 background-color-medium" (click)="onClose()">Close</button>
    </div>
    <div>
      <div class="puffer user-button background-color-dark user-button-radius">
        <button class="add-item-button add-item-button-border background-color-dark" (click)="addItem()" type="submit" matTooltip="Add item">
          <img src="../../../../../assets/images/add.png" class="button-image" alt="">
        </button>
      </div>
    </div>
  </div>
</div>
<div class="full-width error-msg border-top" role="alert" *ngIf="errorMsg.length > 0">
  <mat-divider class="padding-bottom"></mat-divider>
  <p *ngFor="let msg of errorMsg">{{msg}}</p>
</div>

