<mat-toolbar-row class="dialog-header">
  <div class="dialog-title">Account</div>
  <button mat-icon-button class="close-button"
          (click)="onClose()"
          (keydown.enter)="$event.preventDefault()">
    <mat-icon class="close-icon">close</mat-icon>
  </button>
</mat-toolbar-row>

<div class="dialog-container">
  <div class="image-button-container">
    <input type="file" #fileInput accept="image/*" (change)="onFileSelected($event)" style="display: none;" />
    <button mat-icon-button class="profile-button" matTooltip="Set Avatar"
            (click)="triggerFileInput()" type="submit">
      <img *ngIf="avatarImg" [src]="avatarImg" class="profile-image" alt="User Avatar" fill priority>
    </button>
  </div>

  <form class="main-form">
    <div *ngIf="!isEdit else edit_template_input">
      <div class="full-width center-align">
        <div class="information-area mat-elevation-z8">
          <div>
            <p class="label-text">Name: </p>
            <p class="custom-header wrap-text">{{userCredentials.userName}}</p>
          </div>
          <div>
            <p class="label-text">Email: </p>
            <p class="custom-header wrap-text">{{userCredentials.email}}</p>
          </div>
        </div>
      </div>
    </div>
    <mat-card-actions class="button-area">
      <div *ngIf="!isEdit else edit_template_button">
        <button class="custom-button-0" (click)="edit()" type="submit">Edit</button>
      </div>
    </mat-card-actions>

    <div class="end-align" *ngIf="isEdit">
      <mat-divider></mat-divider>
      <button class="delete-button"
              (click)="deleteAccount()"
              type="submit"
              matTooltip="Delete Account">
        <img src="../../../../../assets/images/delete-button.png" class="delete-button-image" style="opacity: 0.8" alt="">
      </button>
    </div>
  </form>
</div>

<ng-template #edit_template_button>
  <button class="custom-button-0 full-width" (click)="saveUserCredentials()" type="submit">Save</button>
  <button class="custom-button-1 full-width" (click)="managePassword()" type="submit">Password</button>
</ng-template>

<ng-template #edit_template_input>
  <div class = "full-width" >
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Name: </mat-label>
      <input  type="text"
              matInput
              [(ngModel)]=userCredentials.userName
              [ngModelOptions]="{standalone: true}"
              placeholder="Your name"
              autocomplete="name" [disabled]="!isEdit"
              (keydown.enter)="$event.preventDefault()">
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Email: </mat-label>
      <input type="email"
             matInput
             [(ngModel)]=userCredentials.email
             [ngModelOptions]="{standalone: true}"
             placeholder="Placeholder"
             autocomplete="email" [disabled]="!isEdit"
             (keydown.enter)="$event.preventDefault()">
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Password:</mat-label>
      <input type="password"
             matInput [type]="hide() ? 'password' : 'text'"
             [(ngModel)]="userCredentials.password"
             [ngModelOptions]="{standalone: true}"
             placeholder="Password"
             autocomplete="password"
             (keydown.enter)="$event.preventDefault()">
      <button
        mat-icon-button
        matSuffix
        (click)="clickEvent($event)"
        (keydown.enter)="$event.preventDefault()"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide()">
        <mat-icon>{{ hide() ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
    </mat-form-field>
  </div>
</ng-template>

<div class="full-width error-msg" role="alert" *ngIf="errorMsg.length > 0">
  <mat-divider class="padding-bottom"></mat-divider>
  <p *ngFor="let msg of errorMsg">{{msg}}</p>
</div>
