<mat-toolbar-row class="dialog-top-bar background-color-white">
  <div class="container-horizontal second-container padding-main-horizontal toolbar-spacing">
    <div>Account</div>
    <button mat-icon-button
            (click)="onClose()"
            (keydown.enter)="$event.preventDefault()">
      <mat-icon class="toolbar-close-button puffer">close</mat-icon>
    </button>
  </div>
</mat-toolbar-row>

<div class="
dialog-container
second-container
background-color-light
container-vertical
padding-main-horizontal
padding-main-vertical
full-width">
  <div class="container-vertical second-container margin-small-vertical">
    <button mat-icon-button class="logo-button puffer avatar-button-radius " matTooltip="Account settings"
            (click)="triggerFileInput()" type="button">
      <img *ngIf="avatarImg" [src]="avatarImg" class="button-image avatar-button-radius button-border-dark" alt="User Avatar" fill priority>
    </button>
    <input
      type="file"
      #fileInput
      (change)="onFileSelected($event)"
      accept="image/jpeg, image/jpg"
      style="display: none;">
  </div>

  <div *ngIf="!isEdit else edit_template_input">
    <div class="information-are-shadow border background-color-white center-align-left margin-big align-left border-radius">
      <div class="margin-big">
        <p class="username-text font-size-label font-color-label">Name: </p>
        <p class="username-text font-size-text font-color">{{userCredentials.userName}}</p>
      </div>
      <div class="margin-big">
        <p class="username-text font-size-label font-color-label">Email: </p>
        <p class="username-text font-size-text font-color">{{userCredentials.email}}</p>
      </div>
    </div>
  </div>
  <div *ngIf="!isEdit else edit_template_button" class="margin-main-horizontal container-horizontal">
    <button class="button dim button-1 background-color-dark" (click)="edit()">Edit</button>
    <button class="button dim button-1 background-color-medium" (click)="onClose()">Close</button>
  </div>
</div>

<ng-template #edit_template_button>
  <div class="margin-main container-horizontal second-container">
    <button class="button dim button-1 background-color-medium" (click)="saveUserCredentials()">Save</button>
    <button class="button dim button-1 background-color-dark wrap-text" (click)="managePassword()">Edit Password</button>
  </div>
  <button class="small-button puffer"
          (click)="deleteAccount()"
          matTooltip="Delete Account">
    <img src="../../../../../assets/images/delete-button.png" class="button-image" alt="">
  </button>
</ng-template>

<ng-template #edit_template_input>
  <div class="container-vertical margin-main-horizontal">
    <mat-form-field appearance="outline" class="insert-width" >
      <mat-label>Name: </mat-label>
      <input  type="text"
              matInput
              [(ngModel)]=userCredentials.userName
              [ngModelOptions]="{standalone: true}"
              placeholder="Your name"
              autocomplete="name" [disabled]="!isEdit"
              (keydown.enter)="$event.preventDefault()">
    </mat-form-field>

    <mat-form-field appearance="outline" >
      <mat-label>Email: </mat-label>
      <input type="email"
             matInput
             [(ngModel)]=userCredentials.email
             [ngModelOptions]="{standalone: true}"
             placeholder="Placeholder"
             autocomplete="email" [disabled]="!isEdit"
             (keydown.enter)="$event.preventDefault()">
    </mat-form-field>

    <mat-form-field appearance="outline" >
      <mat-label>Password:</mat-label>
      <input type="password"
             matInput [type]="hide() ? 'password' : 'text'"
             [(ngModel)]="userCredentials.password"
             [ngModelOptions]="{standalone: true}"
             placeholder="Password"
             autocomplete="password"
             (keydown.enter)="$event.preventDefault()">
      <button
        class="puffer"
        mat-icon-button
        matSuffix
        (click)="clickEvent($event)"
        (keydown.enter)="$event.preventDefault()"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide()">
        <mat-icon>{{ hide() ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
    </mat-form-field>
  </div>
</ng-template>

<div class="full-width border-top error-msg error-background" role="alert" *ngIf="errorMsg.length > 0">
  <p *ngFor="let msg of errorMsg" class="padding-main-horizontal">- {{msg}} -</p>
</div>

