.cart {
  display: grid;
  width: 12vw;
  min-height: 270px;
  border: none;
}

.cart-shadow {
  border: 2px solid #1C252D;
  border-radius: 5px;
}

.cart-shadow:hover {
  border: 3px solid goldenrod;
  box-shadow: 0 0 5px 2px #1C252D;
}

.today {
  color: goldenrod !important;
}

.day-card-container-radius-adjust {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.day-cart-bottom-menu {
  display: flex;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding:2px !important;
}


.activity-icon-area {
  display: flex;
  margin: 0 0 0 5px !important;
}

.activity-icon {
  width: 1.2vw;
  height: 1.2vw;
  padding: 2px !important;
  background-color: #C0D0D8;
}

.activity-icon-border {
  border: 1.5px solid #2E3944 !important;
  border-radius: 3px !important;
}

.bottom-menu-element {
  flex:7;
}

::ng-deep .mat-badge-content,
::ng-deep .mat-badge-active {
  background-color: limegreen !important;
  border: 1px solid #1C252D;
  color: #1C252D !important;
}

.scrollable-activity-icon-wrapper {
  display: flex;
  overflow-x: auto;
  scrollbar-color: lightslategrey transparent;
}

.day-card-container {
  max-width: 12vw;
}
