<div class="item mat-elevation-z8" >
  <button class="button" (click)="openDay($event)">
    <div class="day-number trip-font">- {{day.dayNumber}} -</div>

    <div class="day-date trip-font" [ngClass]="getTodayClass(day.isToday!)">
      <div>{{day.date}}</div>
      <div>{{day.dayOfWeek}}</div>
    </div>
    <div class="full-width">
      <div class="places" *ngFor="let city of addressDetails.cities">
        <div>- {{city.city}}</div>
      </div>
    </div>

  </button>
  <div class="bottom-menu">
  </div>
</div>

