.item {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 200px;
  height: 250px;
  border-radius: 10px;
  background-color: #2E3944;
}

.item:hover {
  box-shadow: 0 8px 10px 1px #7B9D9C;
}

.button {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 250px;
  background-color: transparent;
  border: none;
  border-radius: 10px;
  align-items: center !important;
}

.button:hover {
  cursor: pointer;
}

.day-date {
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  background-color: transparent;
  color: whitesmoke;
  align-items: center;
  padding: 10px 0 10px 0;
}

.places {
  text-align: start;
  color: #7B9D9C;
  padding: 0 15px 0 15px;
}

.bottom-menu{
  display: flex;
  justify-content: space-between;
  background-color: whitesmoke;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1.5px solid #2E3944;
  padding: 3px;
}

.day-number {
  display: flex;
  justify-content: center;
  font-size:10px;
  font-weight: 500;
  color: whitesmoke;
}
