.second-container {
  display: flex;
  justify-content: center;
  width: 600px;
}

.dialog-header {
  display: flex;
  justify-content: flex-end;
  height: 40px;
  background-color: #BFBDB8;
}

.mat-mdc-icon-button ::ng-deep .mat-mdc-button-persistent-ripple {
  display: none;
}


