.custom-dialog-container {
  height: 72vh !important;
}

.padding-left {
  padding-left: 15%;
}

.mat-mdc-icon-button ::ng-deep .mat-mdc-button-persistent-ripple {
  display: none;
}

.badge-image-frame {
  border: 2px solid #1C252D;
  box-shadow: 0 0 2px 2px whitesmoke;
  border-radius: 10px;
  margin: 10px !important;
}

.badge-image-container {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  text-align: center !important;
  width: 40px !important;
  height: 40px !important;
  padding: 4px !important;
}

.budget-badge-image {
  width:100% !important;
  height: 100% !important;
  object-fit: cover !important;
}

.amount-group {
  box-sizing: border-box;
}

.budget-badge-content{
  flex-direction: column !important;
  flex:4 !important;
}

.budget-badge-content:first-child{
  flex:1 !important;
}

.budget-badge-content:nth-child(2){
  padding-left: 2vw !important;
  flex:3 !important;
}

.spread-evenly {
  display: flex;
  justify-content: space-between !important;
  min-height: 40vh !important;
}

.dual-margin {
  margin-right: 5px !important;
  margin-left: 5px !important;
}
