<mat-toolbar-row class="dialog-top-bar background-color-white">
  <div class="container-horizontal second-container padding-main-horizontal toolbar-spacing">
    <div>Contact Information</div>
    <button mat-icon-button
            (click)="onClose()"
            (keydown.enter)="$event.preventDefault()">
      <mat-icon class="toolbar-close-button puffer">close</mat-icon>
    </button>
  </div>
</mat-toolbar-row>

<div class="second-container background-color-light container-vertical padding-main-horizontal
padding-main-vertical full-width padding-big">
  <div class="margin-big">
    <div class="font-size-label font-color-label wrap-text align-center">PHONE:</div>
    <div class="max-width font-size-text font-color align-center">{{phone}}</div>

    <div class="font-size-label font-color-label wrap-text align-center">EMAIL:</div>
    <div class="max-width font-size-text font-color align-center">{{email}}</div>

    <div class="font-size-label font-color-label wrap-text align-center">WEBSITE:</div>
    <a class="font-size-text font-color align-center" href="https://{{website}}" target="_blank">{{website}}</a>
  </div>
    <div class="full-width margin-main-vertical">
      <button class="button button-1 background-color-medium" (click)="onClose()" type="button">Close</button>
    </div>
  </div>


