.mat-mdc-icon-button ::ng-deep .mat-mdc-button-persistent-ripple {
  display: none;
}

.align-center {
  text-align: center;
  display: block;
  margin: 0 auto;
  word-wrap: break-word;
  overflow-wrap: anywhere;
  white-space: normal;
}

a {
  display: inline-block;
  word-wrap: break-word;
  overflow-wrap: anywhere;
  text-align: center;
}

.wrap-text {
  white-space: normal;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.margin-big {
  display: flex;
  flex-direction: column;
  align-items: center;
}
