<form class="container-vertical align-center full-width">

  <button class="user-button puffer user-button-radius information-are-shadow button-background-white button-border-dark"
          (click)="provideBadgeToParent('eat');
                                              provideTypeToParent('breakfast');
                                              createEat()"
          [ngClass]="buttonClasses['breakfast']"
          matTooltip="Breakfast">
    <img src="../../../../../assets/images/activity/breakfast.png" class="button-image" alt="">
  </button>

  <button class="user-button puffer user-button-radius information-are-shadow button-background-white button-border-dark"
          (click)="provideBadgeToParent('eat');
                                              provideTypeToParent('lunch');
                                              createEat()"
          [ngClass]="buttonClasses['lunch']"
          matTooltip="Lunch">
    <img src="../../../../../assets/images/activity/lunch.png" class="button-image" alt="">
  </button>

  <button class="user-button puffer user-button-radius information-are-shadow button-background-white button-border-dark"
          (click)="provideBadgeToParent('eat');
                                              provideTypeToParent('dinner');
                                              createEat()"
          [ngClass]="buttonClasses['dinner']"
          matTooltip="Dinner">
    <img src="../../../../../assets/images/activity/dinner.png" class="button-image" alt="">
  </button>


  <button class="user-button puffer user-button-radius information-are-shadow button-background-white button-border-dark"
          (click)="provideBadgeToParent('eat');
                                              provideTypeToParent('supper');
                                              createEat()"
          [ngClass]="buttonClasses['supper']"
          matTooltip="Supper">
    <img src="../../../../../assets/images/activity/supper.png" class="button-image" alt="">
  </button>

  <button class="user-button puffer user-button-radius information-are-shadow button-background-white button-border-dark"
          (click)="provideBadgeToParent('eat');
                                              provideTypeToParent('snack');
                                              createEat()"
          [ngClass]="buttonClasses['snack']"
          matTooltip="Snack">
    <img src="../../../../../assets/images/activity/snack.png" class="button-image" alt="">
  </button>

  <button class="user-button puffer user-button-radius information-are-shadow button-background-white button-border-dark"
          (click)="provideBadgeToParent('eat');
                                              provideTypeToParent('eat');
                                              createEat()"
          [ngClass]="buttonClasses['eat']"
          matTooltip="Other">
    <img src="../../../../../assets/images/activity/eat.png" class="button-image" alt="">
  </button>

</form>
