<div class="container background-color-light">
  <div class="second-container container-vertical align-center">
    <h4 class="header">DELETE DAY</h4>

    <div class="warning-font warning-color padding-big">
      <div *ngIf="isFirst">
        <p class="font-size-text">You will delete FIRST day! </p>
      </div>
      <div *ngIf="!isFirst">
        <p class="font-size-text">You will delete LAST day! </p>
      </div>
    </div>

    <div class="margin-big">
      <button class="button button-1 background-color-warning font-color" (click)="deleteDay()" type="submit">DELETE</button>
      <button class="button button-1 background-color-dark" (click)="onClose()" type="submit">Cancel</button>
    </div>
  </div>
</div>

<div class="full-width error-msg border-top error-background" role="alert" *ngIf="errorMsg.length > 0">
  <p *ngFor="let msg of errorMsg" class="padding-main-horizontal">- {{msg}} -</p>
</div>
