<mat-card class="second-container" appearance="outlined">
  <mat-card-header class="header-shadow">
    <h4>DELETE DAY</h4>
  </mat-card-header>

  <div class="label-padding">
    <i class="fas fa-circle-exclamation fa-fade fa-1x warning-icon"></i>
    <p class="error-msg full-width text-size">You will delete day: </p>
    <p class="error-msg full-width text-size bold-font">{{date}}</p>
  </div>

  <mat-card-content class="content">
    <form>
      <div>
        <button class="custom-button-4 button-font" (click)="dayDelete()" type="submit">DELETE</button>
      </div>
      <div>
        <button class="custom-button-0 button-font" (click)="onClose()" type="submit">Cancel</button>
      </div>
    </form>
  </mat-card-content>

  <div class="full-width error-msg" role="alert" *ngIf="errorMsg.length > 0">
    <mat-divider class="padding-bottom"></mat-divider>
    <p *ngFor="let msg of errorMsg">{{msg}}</p>
    <mat-divider class="padding-bottom"></mat-divider>
  </div>
</mat-card>
