<div class="component-background">
  <div class="menu-components-background toolbar-menu">
    <div class="logo">
      <app-logo></app-logo>
    </div>
    <div class="menu-buttons">
      <app-trip-details-buttons
        [trip]="trip"
        (afterAddDay)="getDays(trip.tripId!); getTrip()">
      </app-trip-details-buttons>
    </div>
    <div class="user">
      <app-user></app-user>
    </div>
  </div>
</div>

<div class="main-form">
  <div *ngIf="trip.tripName">
    <h3 class="trip-name trip-name-padding trip-font">{{ trip.tripName }}</h3>
  </div>
  <div class="days-container">

    <app-day
      [day]="day"
      [amountOfDays]="days.length"
      *ngFor="let day of days"
      (afterDayChange)="getDays(trip.tripId!); getTrip()"
    >{{day}}</app-day>
  </div>
</div>

