<div class="container-horizontal align-center background-color-toolbar toolbar-menu">
  <div class="logo">
    <app-logo></app-logo>
  </div>
  <div class="menu-buttons">
    <app-trip-details-buttons
      [trip]="trip"
      (afterAddDay)="getDays(trip.tripId!); getTrip()">
    </app-trip-details-buttons>
  </div>
  <div class="user">
    <app-user></app-user>
  </div>
</div>

<div class="main-form align-center background-color-light">
  <div *ngIf="trip.tripName">
    <h5 class="trip-font header margin-main margin-main-horizontal padding-small-vertical">{{ trip.tripName }}</h5>
  </div>
  <div class="cart-container">

    <app-day
      [day]="day"
      [amountOfDays]="days.length"
      *ngFor="let day of days"
      (afterDayChange)="getDays(trip.tripId!); getTrip()"
    >{{day}}</app-day>
  </div>
</div>

