.activity-icon {
  text-align: center;
  margin-left: auto;
  padding: 20px;
}

.profile-image {
  width: 40%;
  height: 40%;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid whitesmoke;
}

.mat-mdc-icon-button ::ng-deep .mat-mdc-button-persistent-ripple {
  display: none;
}
