<div class="container" *ngIf="submitted else codeForm">
  <mat-card class="second-container">
    <div *ngIf="isOkay else activationError">
      <mat-card-content class="content" *ngIf="isOkay else activationError">
        <mat-card-header class="header-shadow">
          <h3 class="success">ACTIVATION SUCCESSFUL</h3>
        </mat-card-header>
        <mat-divider class="padding-bottom"></mat-divider>
        <div>
          <h6 >Your account is ready to use.</h6>
        </div>
        <mat-divider class="padding-bottom"></mat-divider>
        <div>
          <button class="custom-button-0 success-button" (click)="redirectToLogin()" type="submit">Login</button>
        </div>
      </mat-card-content>
    </div>

    <ng-template #activationError>
      <div>
        <mat-card-content class="content padding">
          <mat-card-header class="header-shadow">
            <h3 class="failure">ACTIVATION FAILED</h3>
          </mat-card-header>
          <div class="error-msg fa-beat" *ngIf="errorMsg.length > 0">
            <p *ngFor="let msg of errorMsg">{{ msg }}</p>
          </div>
          <div>
            <button class="custom-button-0 failure-button" (click)="submitted=false" type="submit">Try Again</button>
          </div>
        </mat-card-content>
      </div>
    </ng-template>
  </mat-card>
</div>

<ng-template #codeForm>
  <div class="container">
    <mat-card class="second-container padding" style="max-width: 700px">
      <mat-card-header class="header-shadow">
        <h3>Please enter the activation code sent to your email</h3>
      </mat-card-header>
      <mat-card-content class="content">
        <code-input class="char-cells"
                    [isCodeHidden]="false"
                    [codeLength]="6"
                    [isCharsCode]="true"
                    (codeCompleted)="onCodeCompleted($event)">
        </code-input>
      </mat-card-content>
    </mat-card>
  </div>
</ng-template>

