.padding {
  padding: 70px !important;
}

.container-limit {
  max-width: 50vw;
}

.char-cells {
  --item-border-radius: 10px;
  --item-spacing: 15px;
  --color: #2E3944;
  --item-background: whitesmoke;
  font-size: 25px;
  padding: 20px;
}


