<form class="container-horizontal alignment-container-from-top full-width">
  <div class="container-vertical">

    <button class="user-button puffer user-button-radius information-are-shadow button-background-white button-border-dark"
            (click)="provideBadgeToParent('event');
                                              provideTypeToParent('cinema');
                                              createEvent()"
            [ngClass]="buttonClasses['cinema']"
            matTooltip="Cinema">
      <img src="../../../../../assets/images/activity/cinema.png" class="button-image" alt="">
    </button>

    <button class="user-button puffer user-button-radius information-are-shadow button-background-white button-border-dark"
            (click)="provideBadgeToParent('event');
                                              provideTypeToParent('concert');
                                              createEvent()"
            [ngClass]="buttonClasses['concert']"
            matTooltip="Concert">
      <img src="../../../../../assets/images/activity/concert.png" class="button-image" alt="">
    </button>

    <button class="user-button puffer user-button-radius information-are-shadow button-background-white button-border-dark"
            (click)="provideBadgeToParent('event');
                                              provideTypeToParent('explore');
                                              createEvent()"
            [ngClass]="buttonClasses['explore']"
            matTooltip="Explore">
      <img src="../../../../../assets/images/activity/explore.png" class="button-image" alt="">
    </button>

    <button class="user-button puffer user-button-radius information-are-shadow button-background-white button-border-dark"
            (click)="provideBadgeToParent('event');
                                              provideTypeToParent('extreme');
                                              createEvent()"
            [ngClass]="buttonClasses['extreme']"
            matTooltip="Extreme Sport">
      <img src="../../../../../assets/images/activity/extreme.png" class="button-image" alt="">
    </button>

    <button class="user-button puffer user-button-radius information-are-shadow button-background-white button-border-dark"
            (click)="provideBadgeToParent('event');
                                              provideTypeToParent('museum');
                                              createEvent()"
            [ngClass]="buttonClasses['museum']"
            matTooltip="Museum">
      <img src="../../../../../assets/images/activity/museum.png" class="button-image" alt="">
    </button>

    <button class="user-button puffer user-button-radius information-are-shadow button-background-white button-border-dark"
            (click)="provideBadgeToParent('event');
                                              provideTypeToParent('nightlife');
                                              createEvent()"
            [ngClass]="buttonClasses['nightlife']"
            matTooltip="NightLife">
      <img src="../../../../../assets/images/activity/nightlife.png" class="button-image" alt="">
    </button>

    <button class="user-button puffer user-button-radius information-are-shadow button-background-white button-border-dark"
            (click)="provideBadgeToParent('event');
                                              provideTypeToParent('recreation');
                                              createEvent()"
            [ngClass]="buttonClasses['recreation']"
            matTooltip="Recreation">
      <img src="../../../../../assets/images/activity/recreation.png" class="button-image" alt="">
    </button>
  </div>

  <div class="container-vertical">
    <button class="user-button puffer user-button-radius information-are-shadow button-background-white button-border-dark"
            (click)="provideBadgeToParent('event');
                                              provideTypeToParent('show');
                                              createEvent()"
            [ngClass]="buttonClasses['show']"
            matTooltip="Show">
      <img src="../../../../../assets/images/activity/show.png" class="button-image" alt="">
    </button>

    <button class="user-button puffer user-button-radius information-are-shadow button-background-white button-border-dark"
            (click)="provideBadgeToParent('event');
                                              provideTypeToParent('sport');
                                              createEvent()"
            [ngClass]="buttonClasses['sport']"
            matTooltip="Sport">
      <img src="../../../../../assets/images/activity/sport.png" class="button-image" alt="">
    </button>

    <button class="user-button puffer user-button-radius information-are-shadow button-background-white button-border-dark"
            (click)="provideBadgeToParent('event');
                                              provideTypeToParent('theater');
                                              createEvent()"
            [ngClass]="buttonClasses['theater']"
            matTooltip="Theater">
      <img src="../../../../../assets/images/activity/theater.png" class="button-image" alt="">
    </button>

    <button class="user-button puffer user-button-radius information-are-shadow button-background-white button-border-dark"
            (click)="provideBadgeToParent('event');
                                              provideTypeToParent('event');
                                              createEvent()"
            [ngClass]="buttonClasses['event']"
            matTooltip="Other">
      <img src="../../../../../assets/images/activity/event.png" class="button-image" alt="">
    </button>
  </div>
</form>
