<form class="buttons-container full-width" >

  <button class="user-button margin" (click)="provideBadgeToParent('travel');
                                              provideTypeToParent('car');
                                              createTravel()"
          [ngClass]="buttonClasses['car']"
          matTooltip="Car">
    <img src="../../../../../assets/images/activity/car.png" class="user-button-image mat-elevation-z4" alt="">
  </button>

  <button class="user-button margin" (click)="provideBadgeToParent('travel');
                                              provideTypeToParent('plane');
                                              createTravel()"
          [ngClass]="buttonClasses['plane']"
          matTooltip="Plane">
    <img src="../../../../../assets/images/activity/plane.png" class="user-button-image mat-elevation-z4" alt="">
  </button>

  <button class="user-button margin" (click)="provideBadgeToParent('travel');
                                              provideTypeToParent('bus');
                                              createTravel()"
          [ngClass]="buttonClasses['bus']"
          matTooltip="Bus">
    <img src="../../../../../assets/images/activity/bus.png" class="user-button-image mat-elevation-z4" alt="">
  </button>

  <button class="user-button margin" (click)="provideBadgeToParent('travel');
                                              provideTypeToParent('train');
                                              createTravel()"
          [ngClass]="buttonClasses['train']"
          matTooltip="Train">
    <img src="../../../../../assets/images/activity/train.png" class="user-button-image mat-elevation-z4" alt="">
  </button>

  <button class="user-button margin" (click)="provideBadgeToParent('travel');
                                              provideTypeToParent('camper');
                                              createTravel()"
          [ngClass]="buttonClasses['camper']"
          matTooltip="Camper">
    <img src="../../../../../assets/images/activity/camper.png" class="user-button-image mat-elevation-z4" alt="">
  </button>

  <button class="user-button margin" (click)="provideBadgeToParent('travel');
                                              provideTypeToParent('ship');
                                              createTravel()"
          [ngClass]="buttonClasses['ship']"
          matTooltip="Ship">
    <img src="../../../../../assets/images/activity/ship.png" class="user-button-image mat-elevation-z4" alt="">
  </button>

  <button class="user-button margin" (click)="provideBadgeToParent('travel');
                                              provideTypeToParent('travel');
                                              createTravel()"
          [ngClass]="buttonClasses['travel']"
          matTooltip="Other">
    <img src="../../../../../assets/images/activity/travel.png" class="user-button-image mat-elevation-z4" alt="">
  </button>

</form>
