.activity-insert {
  padding: 4px 8px 4px 8px !important;
  height: 1.2vw !important;
}

.activity-insert-dim {
  width: 28vw;
}

.activity-data-time-insert-dim {
  width: 10vw !important;
}

.activity-country-city-insert-dim {
  width: 12vw !important;
}

.activity-phone-insert-dim {
  width: 10vw !important;
}

.activity-email-insert-dim {
  width: 16.5vw !important;
}

.activity-margin-small-horizontal {
  margin: 0 3px 0 3px !important;
}

.mat-mdc-icon-button ::ng-deep .mat-mdc-button-persistent-ripple {
  display: none;
}

.mat-mdc-option,
.mdc-list-item {
  background-color: whitesmoke !important;
  font-family: 'Montserrat', sans-serif !important;
}

.mat-mdc-option:hover,
.mdc-list-item:hover {
  background-color: white !important;
}

.mdc-list-item--selected,
.mat-mdc-option-active {
  background-color: #D1E0E2 !important;
}

::ng-deep .mdc-checkbox__background {
  background-color: whitesmoke !important;
  border: 2px solid #2E3944 !important;
}

::ng-deep .mdc-checkbox__checkmark {
  background-color: #2E3944 !important;
}

::ng-deep .mdc-checkbox__ripple {
  display: none !important;
}

::ng-deep .mat-mdc-select {
  width: 11vw !important;
}

