<mat-toolbar-row class="dialog-header">
  <div class="dialog-title">Summary by Currency</div>
  <button mat-icon-button class="close-button"
          (click)="onClose()"
          (keydown.enter)="$event.preventDefault()">
    <mat-icon class="close-icon">close</mat-icon>
  </button>
</mat-toolbar-row>

<div class="dialog-container">
  <div class="table-container mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)">

      <ng-container matColumnDef="currency">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear class="currency-column" sortActionDescription="Sort by currency">
          Currency
        </th>
        <td mat-cell *matCellDef="let element" class="currency-column">
          {{element.currency}}
        </td>
      </ng-container>

      <ng-container matColumnDef="totalDebt">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear class="amount-column" sortActionDescription="Sort by totalDebt">
          Debt
        </th>
        <td mat-cell *matCellDef="let element" class="amount-column">
          {{element.totalDebt}}
          <label style="font-size: 10px">{{element.currency}} </label>
        </td>
      </ng-container>

      <ng-container matColumnDef="totalPrice">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear class="amount-column" sortActionDescription="Sort by totalPrice">
          Price
        </th>
        <td mat-cell *matCellDef="let element" class="amount-column">
          {{element.totalPrice}}
          <label style="font-size: 10px">{{element.currency}} </label>
        </td>
      </ng-container>

      <ng-container matColumnDef="totalPriceInTripCurrency">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear class="amount-column" sortActionDescription="Sort by totalPriceInTripCurrency">
          {{tripCurrency}}
        </th>
        <td mat-cell *matCellDef="let element" class="amount-column">
          {{element.totalPriceInTripCurrency}}
          <label style="font-size: 10px">{{tripCurrency}} </label>
        </td>
      </ng-container>

      <ng-container matColumnDef="totalPaid">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear class="amount-column" sortActionDescription="Sort by totalPaid">
          Paid
        </th>
        <td mat-cell *matCellDef="let element" class="amount-column">
          {{element.totalPaid}}
          <label style="font-size: 10px">{{element.currency}} </label>

        </td>
      </ng-container>

      <ng-container matColumnDef="totalPaidInTripCurrency">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear class="amount-column" sortActionDescription="Sort by totalPaidInTripCurrency">
          {{tripCurrency}}
        </th>
        <td mat-cell *matCellDef="let element" class="amount-column">
          {{element.totalPaidInTripCurrency}}
          <label style="font-size: 10px">{{element.currency}} </label>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="toggleRow(row)" [class.selected]="selection.isSelected(row)"></tr>
    </table>
  </div>

  <div class="backpack-button-area">
    <button class="custom-button-1 " (click)="onClose()" type="submit">Close</button>
  </div>

  <div class="alert alert-danger full-width error-msg" role="alert" *ngIf="errorMsg.length > 0">
    <mat-divider></mat-divider>
    <p *ngFor="let msg of errorMsg">{{msg}}</p>
  </div>
</div>

