.amount-column {
  width: 12vw !important;
}

.currency-column {
  width: 8vw !important;
}

.mdc-data-table__table {
  background-color: whitesmoke !important;
}

.mdc-data-table__table {
  background-color: whitesmoke !important;
}

.mat-mdc-header-row {
  background-color: #2E3944 !important;
  color: whitesmoke !important;
}

:host ::ng-deep .mat-sort-header-arrow{
  color: whitesmoke !important;
}

:host ::ng-deep .mat-sort-header-container {
  display: flex;
  justify-content: start;
  width: auto;
}

.selected {
  background-color: #C0D0D8 !important;
}

.mat-mdc-icon-button ::ng-deep .mat-mdc-button-persistent-ripple {
  display: none;
}

th, td {
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  word-break: break-word;
  align-content: center !important;
}

