.amount-column {
  width: 25vh !important;
}

.currency-column {
  width: 5vh !important;
}

body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.table-container {
  width: 100% !important;
  height: 80% !important;
  background-color: whitesmoke;
  color: #2E3944 !important;
  display: block;
  min-width: 30% !important;
  margin: auto;
}

.mat-mdc-form-field {
  font-size: 14px !important;
  width: 100% !important;
}

.mdc-data-table__table {
  background-color: whitesmoke !important;
}

.mdc-data-table__table {
  background-color: whitesmoke !important;
}

.mat-mdc-header-row {
  background-color: #2E3944 !important;
  color: whitesmoke !important;
}

:host ::ng-deep .mat-sort-header-arrow{
  color: whitesmoke !important;
}

:host ::ng-deep .mat-sort-header-container {
  display: flex;
  justify-content: start;
  width: auto;
}

th, td {
  align-content: center !important;
  text-align: start !important;
}

.selected {
  background-color: snow !important;
}

th.mat-sort-header-sorted {
  color: black;
}
