<mat-toolbar class="toolbar">

  <mat-toolbar-row class="toolbar-row">
    <div class="account-container">
      <button mat-icon-button class="app-button">
        <img ngSrc="assets/images/twa.png" class="app-image" alt="/" height="200" width="200" priority>
      </button>
    </div>
    <div class="toolbar-row-end">
      <div class="account-container">
        <div class="button-container">
          <button mat-icon-button class="profile-button" matTooltip="Account settings"
                  (click)="openAccountDetails()" type="submit">
            <img ngSrc="../../../../../assets/images/user.png" class="profile-image" alt="/" fill priority>
          </button>
        </div>
        <div>
          <mat-label class="profile-label">
            {{this.label}}
          </mat-label>
        </div>
      </div>
      <div>
        <button class="custom-button-3 full-width-button" matTooltip="Logout"
                (click)=logout()><i class="fas fa-sign-out-alt fa-3x"></i>
        </button>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
